<div class="news">
    <div class="container">

        <div class="h2">Новости</div>

        <ul class="news__list">
            <li class="news__item">
                <div class="news__item_content">
                    <div class="news__item_date">29.06.2020</div>
                    <a href="#" class="news__item_title">Новые коллекции</a>
                    <div class="news__item_text">
                        В нашем магазине появилось несколько новых коллекций медицинской одежды. В наличии уже имеется
                        одежда различных брендов по превликательной цене.
                    </div>
                    <a href="#" class="news__item_link link">Подробнее</a>
                </div>
                <div class="news__item_img">
                    <img src="../../assets/img/news/news-1.png" alt="">
                </div>
            </li>
            <li class="news__item">
                <div class="news__item_content">
                    <div class="news__item_date">29.06.2020</div>
                    <a href="#" class="news__item_title">Подарочные сертификаты</a>
                    <div class="news__item_text">
                        У нас действуют подарочные сертификаты. Они действительные в течении трех месяцев. Возврату и
                        обмену на наличне средства не подлежат.
                    </div>
                    <a href="#" class="news__item_link link">Подробнее</a>
                </div>
                <div class="news__item_img">
                    <img src="../../assets/img/news/news-2.png" alt="">
                </div>
            </li>
            <li class="news__item">
                <div class="news__item_content">
                    <div class="news__item_date">29.06.2020</div>
                    <a href="#" class="news__item_title">Скидки и акции</a>
                    <div class="news__item_text">
                        На данные момент в нашем магазине действют скидки и акции на многие товары, которые находятся у
                        нас в наличии.
                    </div>
                    <a href="#" class="news__item_link link">Подробнее</a>
                </div>
                <div class="news__item_img">
                    <img src="../../assets/img/news/news-3.png" alt="">
                </div>
            </li>
        </ul>
        <!-- /.news__list -->

        //= ../pagination/pagination.html

    </div>
    <!-- /.container -->
</div>
<!-- /.news -->