.message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 3000;
  &.primary {
    background-color: $primary;
    .message__btn {
      &:hover {
        background-color: $white;
        color: $primary;
      }
    }
  }
  &.accent {
    background-color: $accent;
    .message__btn {
      &:hover {
        background-color: $white;
        color: $accent;
      }
    }
  }
}

.message__block {
  position: relative;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.message__text {
  max-width: 900px;
  font-weight: 500;
  font-size: 24px;
  color: $white;
}

.message__btn {
  width: 268px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
  box-sizing: border-box;
  border-radius: 60px;
  border: 2px solid $white;
  font-weight: 500;
  font-size: 20px;
  color: $white;
}

.message__close {
  margin-left: 60px;
  opacity: .5;
  &:hover {
    opacity: 1;
  }
  svg {
    width: 30px;
    height: 30px;
    fill: $white;
    transition: .3s;
  }
}



@media (max-width: 1140px) {
  .message__block {
    height: auto;
    display: block;
    padding: 20px 0 25px;
  }
  .message__right {
    margin-top: 20px;
    justify-content: center;
  }
  .message__text {
    padding-right: 30px;
    font-size: 15px;
    font-weight: normal;
  }
  .message__btn {
    width: 180px;
    height: 34px;
    margin-left: 0;
    font-size: 14px;
  }
  .message__close {
    position: absolute;
    top: 20px;
    right: 0;
    width: 18px;
    height: 18px;
    margin: 0;
    svg {
      width: 18px;
      height: 18px;
      fill: $white;
    }
  }
}