<div class="about">

    <div class="container">

        <div class="about__top">
            <div class="about__top_left">
                <div class="h2">О компании</div>
                <div class="about__text">
                    Магазин медицинской одежды MedUniform является Дистрибьютором в РФ известных торговых марок
                    медицинской одежды из США - CHEROKEE, DICKIES, CODE HAPPY, KOI, BARCO, HEARTSOUL. Наряду с униформой
                    из США в магазине представлен большой ассортимент Российских производителей одежды.
                    <br><br>
                    Мы тщательно отбирает свои бренды, предлагаем лучшую медицинскую одежду со всего мира! Мы в поисках
                    для вас
                    элитных тканей, фурнитуры, дизайна и качества, ведь "люди в белом" этого достойны. Для вас, как для
                    себя!
                </div>
            </div>
            <div class="about__top_right">
                <img src="../../assets/img/about/about-1.jpg" alt="">
            </div>
        </div>

        <div class="about__bot">
            <div class="about__bot_left">
                <img src="../../assets/img/about/about-2.jpg" alt="">
            </div>
            <div class="about__bot_right">
                <ul class="about__list">
                    <li class="about__list_item">Широкий выбор медицинской одежды и обуви.</li>
                    <li class="about__list_item">При сумме заказа от <span>6 000</span> рублей доставка по РФ - БЕСПЛАТНО.</li>
                    <li class="about__list_item">Индивидуальные скидки от <span>15 000</span> рублей</li>
                    <li class="about__list_item">Подарочные сертификаты</li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.about -->