.header {
  &.active {
    .header__mid {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    .header__mid_catalog_link {
      width: 105px;
      margin-right: 50px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.header__top {
  background-color: $primary;
}

.header__top_block {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top_nav_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__top_nav_item {
  margin-right: 30px;
  padding: 10px 0;
  &.personal {
    position: relative;
    display: none;
    &:hover {
      .personal__dropdown {
        opacity: 1;
        visibility: visible;
      }
    }
    .header__top_nav_link {
      &:before {
        display: none;
      }
    }
  }
}

.header__top_nav_link {
  font-size: 15px;
}

.personal__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.personal__dropdown_item {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.personal__dropdown_link {
  font-size: 14px;
  color: $black;
  white-space: nowrap;
  &:before {
    background-color: $black;
  }
}

.header__top_contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__top_contacts_tel {
  margin-right: 30px;
  font-weight: 500;
  font-size: 20px;
  color: $white;
}

.header__top_contacts_social {
  margin-right: 30px;
  img {
    width: 20px;
  }
}

.header__top_contacts_call {
  font-size: 14px;
}

.header__mid {
  background-color: $white;
  z-index: 8888;
  .logo {
    margin-right: 50px;
  }
}

.header__mid_block {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $primary-light;
}

.logo {
  min-width: 125px;
}

.header__mid_search {
  width: 100%;
  max-width: 650px;
}

.header__mid_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 45px;
  font-weight: 500;
  color: $text-primary;
  &:hover {
    color: $primary;
    .header__mid_link_icon {
      svg {
        fill: $primary;
        transition: .3s;
      }
    }
  }
}

.header__mid_link_icon {
  position: relative;
  margin-right: 8px;
  svg {
    width: 25px;
    height: 25px;
    fill: $text-primary;
  }
}

.header__mid_link_badge {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%,25%);
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $accent;
  font-size: 11px;
  color: $white;
}

.header__mid_catalog_link {
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 12px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 18px;
  color: $white;
  opacity: 0;
  visibility: hidden;
  &.active {
    .arrow-down {
      transform: translateY(25%) rotate(225deg);
    }
  }
  .arrow-down {
    margin-left: 5px;
    transition: .3s;
  }
}

.header__bot {
  position: relative;
  border-bottom: 1px solid $primary-light;
}

.header__bot_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bot_nav_link {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  color: $text-primary;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
  &.active {
    &:before {
      height: 5px;
    }
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $primary;
    transition: .3s;
  }
}

.header__bot_dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 35px 0;
  box-sizing: border-box;
  background-color: $primary;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 6666;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.header__bot_dropdown_grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 170px;
}

.header__bot_dropdown_grid_title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  color: rgba($white, .4);
  text-transform: uppercase;
}

.header__bot_dropdown_grid_content {
  padding-top: 18px;
  border-top: 1px solid rgba($white, .4);
}

.header__bot_dropdown_grid_list {
  display: flex;
  flex-flow: column wrap;
  max-height: 180px;
}

.header__bot_dropdown_grid_list_item {
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}

.header__bot_dropdown_grid_link {
  font-size: 18px;
}

.header__catalog {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  display: none;
  padding: 38px 0 25px;
  background-color: $primary;
  z-index: 6666;
}

.header__catalog_grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 45px;
}

.header__catalog_list {
  border-right: 1px solid $white;
}

.header__catalog_list_item {
  text-align: right;
}

.header__catalog_list_item_link {
  position: relative;
  padding-right: 24px;
  font-size: 20px;
  color: $white;
  line-height: 1.5;
  &.active {
    &:before {
      opacity: 1;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 3px;
    height: 100%;
    background-color: $white;
    opacity: 0;
    transition: .3s;
  }
}

.header__catalog_content {
  display: none;
  &.active {
    display: block;
  }
  .header__bot_dropdown_grid {
    grid-gap: 100px;
  }
  .header__bot_dropdown_grid_content {
    &.foreign {
      grid-template-columns: repeat(2, auto);
    }
  }
}

.header__catalog_content_list {
  max-height: 240px;
  display: flex;
  flex-flow: column wrap;
}

.header__catalog_content_list_item_link {
  font-size: 20px;
  color: $white;
  line-height: 1.5;
}

.header-mobile {
  position: relative;
}

.header-mobile__bot_block {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-mobile__bot_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 20px;
  margin-right: 20px;
}

.hamburger-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $black;
  cursor: pointer;
  &:nth-child(1) {
    top: 0;
    left: 0;
  }
  &:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &:nth-child(3) {
    bottom: 0;
    left: 0;
  }
}

.header-mobile__bot_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-mobile__bot_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  img {
    width: 25px;
  }
}

.header-mobile__search {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: none;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 5555;
  input {
    outline: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  display: none;
  background-color: $white;
  overflow-y: auto;
  z-index: 9999;
}

.menu__link {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #d8d8d8;
  font-size: 16px;
  color: $black;
  &.tel {
    justify-content: center;
    font-weight: 500;
  }
}



@media (min-width: 1140px) {
  .header-mobile {
    display: none !important;
  }
}

@media (max-width: 1140px) {
  .header {
    display: none !important;
  }
  .header__top_contacts_social {
    margin-right: 0;
    margin-left: 30px;
  }
}