.header {
  &.active {
    .header__mid {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    .header__mid_catalog_link {
      width: 105px;
      margin-right: 50px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.header__top {
  background-color: $primary;
}

.header__top_block {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top_nav_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__top_nav_item {
  margin-right: 30px;
  padding: 10px 0;
  &.personal {
    position: relative;
    display: none;
    &:hover {
      .personal__dropdown {
        opacity: 1;
        visibility: visible;
      }
    }
    .header__top_nav_link {
      &:before {
        display: none;
      }
    }
  }
}

.header__top_nav_link {
  font-size: 15px;
}

.personal__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.personal__dropdown_item {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.personal__dropdown_link {
  font-size: 14px;
  color: $black;
  white-space: nowrap;
  &:before {
    background-color: $black;
  }
}

.header__top_contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__top_contacts_tel {
  margin-right: 30px;
  font-weight: 500;
  font-size: 20px;
  color: $white;
}

.header__top_contacts_social {
  margin-right: 30px;
  img {
    width: 20px;
  }
}

.header__top_contacts_call {
  font-size: 14px;
}

.header__mid {
  background-color: $white;
  z-index: 8888;
}

.header__mid_block {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $primary-light;
}

.header__mid_logo {
  min-width: 125px;
  margin-right: 50px;
}

.header__mid_search {
  width: 100%;
  max-width: 650px;
}

.header__mid_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 45px;
  font-weight: 500;
  color: $text-primary;
  &:hover {
    color: $primary;
    .header__mid_link_icon {
      svg {
        fill: $primary;
        transition: .3s;
      }
    }
  }
}

.header__mid_link_icon {
  position: relative;
  margin-right: 8px;
  svg {
    fill: $text-primary;
  }
}

.header__mid_link_badge {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%,25%);
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $accent;
  font-size: 11px;
  color: $white;
}

.header__mid_catalog_link {
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 12px;
  box-sizing: border-box;
  border-radius: 5px;
  background: $gradient-primary;
  font-size: 18px;
  color: $white;
  opacity: 0;
  visibility: hidden;
  .arrow-down {
    margin-left: 5px;
  }
}

.header__bot {
  position: relative;
  border-bottom: 1px solid $primary-light;
}

.header__bot_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bot_nav_link {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  color: $text-primary;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
  &.active {
    &:before {
      height: 5px;
    }
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $primary;
    transition: .3s;
  }
}

.header__bot_dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 35px 0;
  box-sizing: border-box;
  background-color: $primary;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 6666;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.header__bot_dropdown_grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 170px;
}

.header__bot_dropdown_grid_title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  color: rgba($white, .4);
  text-transform: uppercase;
}

.header__bot_dropdown_grid_content {
  display: grid;
  grid-gap: 115px;
  padding-top: 18px;
  border-top: 1px solid rgba($white, .4);
  &.foreign {
    grid-template-columns: repeat(3, auto);
  }
  &.domestic {
    grid-template-columns: repeat(2, auto);
  }
}

.header__bot_dropdown_grid_list_item {
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}

.header__bot_dropdown_grid_link {
  font-size: 18px;
}