<div class="catalog">

    <div class="container">

        <div class="catalog__grid">

            //= ../sidebar/sidebar.html

            <main class="catalog__main">

                <div class="h2">Медицинские костюмы</div>

                <div class="catalog__categories">
                    <a href="#" class="catalog__categories_grid_item item-1">
                        <img src="../../assets/img/categories/categories__img-1.png" alt="">
                        <div class="catalog__categories_grid_item_title">Топы</div>
                    </a>
                    <a href="#" class="catalog__categories_grid_item item-2">
                        <img src="../../assets/img/categories/categories__img-2.png" alt="">
                        <div class="catalog__categories_grid_item_title">Костюмы</div>
                    </a>
                    <a href="#" class="catalog__categories_grid_item item-3">
                        <img src="../../assets/img/categories/categories__img-3.png" alt="">
                        <div class="catalog__categories_grid_item_title">Брюки</div>
                    </a>
                    <a href="#" class="catalog__categories_grid_item item-4">
                        <img src="../../assets/img/categories/categories__img-4.png" alt="">
                        <div class="catalog__categories_grid_item_title">Халаты</div>
                    </a>
                    <a href="#" class="catalog__categories_grid_item item-5">
                        <img src="../../assets/img/categories/categories__img-5.png" alt="">
                        <div class="catalog__categories_grid_item_title">Жакеты</div>
                    </a>
                    <a href="#" class="catalog__categories_grid_item item-6">
                        <img src="../../assets/img/categories/categories__img-6.png" alt="">
                        <div class="catalog__categories_grid_item_title">Обувь</div>
                    </a>
                    <a href="#" class="catalog__categories_grid_item item-7">
                        <img src="../../assets/img/categories/categories__img-7.png" alt="">
                        <div class="catalog__categories_grid_item_title">Прочее</div>
                    </a>
                </div>
                <!-- /.catalog__categories -->

                <div class="catalog__settings">
                    <div class="catalog__settings_item">
                        <div class="catalog__settings_label">Пол:</div>
                        <a href="#" class="catalog__settings_link">Женский <span>&times;</span></a>
                    </div>
                    <div class="catalog__settings_item">
                        <div class="catalog__settings_label">Производитель:</div>
                        <a href="#" class="catalog__settings_link">Dickies <span>&times;</span></a>
                    </div>
                </div>
                <!-- /.catalog__settings -->

                <div class="catalog__products">
                    <div class="card">
                        <div class="card__top">
                            <div class="card__badge new">новинка</div>
                            <div class="card__logo">
                                <img src="../../assets/img/commodity-card/dickies.png" alt="">
                            </div>
                            <a href="#" class="card__featured js-featured-link">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" viewBox="0 0 512 512">
                                    <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                </svg>
                            </a>
                            <a href="#" class="card__img">
                                <img src="../../assets/img/card/card.jpg" alt="">
                            </a>
                        </div>
                        <ul class="card__colors">
                            <li class="card__colors_item" style="background: #000000;"></li>
                            <li class="card__colors_item" style="background: #ffffff; border: 1px solid #c4c4c4;"></li>
                            <li class="card__colors_item" style="background: #B40A1B;"></li>
                            <li class="card__colors_item" style="background: #22AE95;"></li>
                            <li class="card__colors_item" style="background: #FF0ABA;"></li>
                            <li class="card__colors_item">+3</li>
                        </ul>
                        <a href="#" class="card__title">Женский медицинский костюм</a>
                        <div class="card__desc">длинный, короткий, стандартный</div>
                        <div class="card__price">
                            <div class="card__price_old">1500 руб.</div>
                            <div class="card__price_new">750 руб.</div>
                            <div class="card__price_action">-50%</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__top">
                            <div class="card__logo">
                                <img src="../../assets/img/commodity-card/dickies.png" alt="">
                            </div>
                            <a href="#" class="card__featured js-featured-link">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" viewBox="0 0 512 512">
                                    <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                </svg>
                            </a>
                            <a href="#" class="card__img">
                                <img src="../../assets/img/card/card.jpg" alt="">
                            </a>
                        </div>
                        <ul class="card__colors">
                            <li class="card__colors_item" style="background: #000000;"></li>
                            <li class="card__colors_item" style="background: #ffffff; border: 1px solid #c4c4c4;"></li>
                            <li class="card__colors_item" style="background: #B40A1B;"></li>
                            <li class="card__colors_item" style="background: #22AE95;"></li>
                            <li class="card__colors_item" style="background: #FF0ABA;"></li>
                            <li class="card__colors_item">+3</li>
                        </ul>
                        <a href="#" class="card__title">Женский медицинский костюм</a>
                        <div class="card__desc">длинный, короткий, стандартный</div>
                        <div class="card__price">
                            <div class="card__price_new">750 руб.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__top">
                            <div class="card__logo">
                                <img src="../../assets/img/commodity-card/dickies.png" alt="">
                            </div>
                            <a href="#" class="card__featured js-featured-link">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" viewBox="0 0 512 512">
                                    <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                </svg>
                            </a>
                            <a href="#" class="card__img">
                                <img src="../../assets/img/card/card.jpg" alt="">
                            </a>
                        </div>
                        <ul class="card__colors">
                            <li class="card__colors_item" style="background: #000000;"></li>
                            <li class="card__colors_item" style="background: #ffffff; border: 1px solid #c4c4c4;"></li>
                            <li class="card__colors_item" style="background: #B40A1B;"></li>
                            <li class="card__colors_item" style="background: #22AE95;"></li>
                            <li class="card__colors_item" style="background: #FF0ABA;"></li>
                            <li class="card__colors_item" style="background: #000000;"></li>
                            <li class="card__colors_item" style="background: #B40A1B;"></li>
                            <li class="card__colors_item" style="background: #22AE95;"></li>
                            <li class="card__colors_item" style="background: #FF0ABA;"></li>
                            <li class="card__colors_item" style="background: #000000;"></li>
                            <li class="card__colors_item" style="background: #B40A1B;"></li>
                            <li class="card__colors_item" style="background: #22AE95;"></li>
                            <li class="card__colors_item" style="background: #FF0ABA;"></li>
                            <li class="card__colors_item">+3</li>
                        </ul>
                        <a href="#" class="card__title">Женский медицинский костюм</a>
                        <div class="card__desc">длинный, короткий, стандартный</div>
                        <div class="card__price">
                            <div class="card__price_old">1500 руб.</div>
                            <div class="card__price_new">750 руб.</div>
                            <div class="card__price_action">-50%</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__top">
                            <div class="card__logo">
                                <img src="../../assets/img/commodity-card/dickies.png" alt="">
                            </div>
                            <a href="#" class="card__featured js-featured-link">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" viewBox="0 0 512 512">
                                    <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                </svg>
                            </a>
                            <a href="#" class="card__img">
                                <img src="../../assets/img/card/card.jpg" alt="">
                            </a>
                        </div>
                        <ul class="card__colors">
                            <li class="card__colors_item" style="background: #000000;"></li>
                            <li class="card__colors_item" style="background: #ffffff; border: 1px solid #c4c4c4;"></li>
                            <li class="card__colors_item" style="background: #B40A1B;"></li>
                            <li class="card__colors_item" style="background: #22AE95;"></li>
                            <li class="card__colors_item" style="background: #FF0ABA;"></li>
                            <li class="card__colors_item">+3</li>
                        </ul>
                        <a href="#" class="card__title">Женский медицинский костюм</a>
                        <div class="card__desc">длинный, короткий, стандартный</div>
                        <div class="card__price">
                            <div class="card__price_old">1500 руб.</div>
                            <div class="card__price_new">750 руб.</div>
                            <div class="card__price_action">-50%</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__top">
                            <div class="card__logo">
                                <img src="../../assets/img/commodity-card/dickies.png" alt="">
                            </div>
                            <a href="#" class="card__featured js-featured-link">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" viewBox="0 0 512 512">
                                    <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                </svg>
                            </a>
                            <a href="#" class="card__img">
                                <img src="../../assets/img/card/card.jpg" alt="">
                            </a>
                        </div>
                        <ul class="card__colors">
                            <li class="card__colors_item" style="background: #000000;"></li>
                            <li class="card__colors_item" style="background: #ffffff; border: 1px solid #c4c4c4;"></li>
                            <li class="card__colors_item" style="background: #B40A1B;"></li>
                            <li class="card__colors_item" style="background: #22AE95;"></li>
                            <li class="card__colors_item" style="background: #FF0ABA;"></li>
                            <li class="card__colors_item">+3</li>
                        </ul>
                        <a href="#" class="card__title">Женский медицинский костюм</a>
                        <div class="card__desc">длинный, короткий, стандартный</div>
                        <div class="card__price">
                            <div class="card__price_new">1500 руб.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__top">
                            <div class="card__logo">
                                <img src="../../assets/img/commodity-card/dickies.png" alt="">
                            </div>
                            <a href="#" class="card__featured js-featured-link">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" viewBox="0 0 512 512">
                                    <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                </svg>
                            </a>
                            <a href="#" class="card__img">
                                <img src="../../assets/img/card/card.jpg" alt="">
                            </a>
                        </div>
                        <ul class="card__colors">
                            <li class="card__colors_item" style="background: #000000;"></li>
                            <li class="card__colors_item" style="background: #ffffff; border: 1px solid #c4c4c4;"></li>
                            <li class="card__colors_item" style="background: #B40A1B;"></li>
                            <li class="card__colors_item" style="background: #22AE95;"></li>
                            <li class="card__colors_item" style="background: #FF0ABA;"></li>
                            <li class="card__colors_item">+3</li>
                        </ul>
                        <a href="#" class="card__title">Женский медицинский костюм</a>
                        <div class="card__desc">длинный, короткий, стандартный</div>
                        <div class="card__price">
                            <div class="card__price_old">1500 руб.</div>
                            <div class="card__price_new">750 руб.</div>
                            <div class="card__price_action">-50%</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__top">
                            <div class="card__logo">
                                <img src="../../assets/img/commodity-card/dickies.png" alt="">
                            </div>
                            <a href="#" class="card__featured js-featured-link">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" viewBox="0 0 512 512">
                                    <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                </svg>
                            </a>
                            <a href="#" class="card__img">
                                <img src="../../assets/img/card/card.jpg" alt="">
                            </a>
                        </div>
                        <ul class="card__colors">
                            <li class="card__colors_item" style="background: #000000;"></li>
                            <li class="card__colors_item" style="background: #ffffff; border: 1px solid #c4c4c4;"></li>
                            <li class="card__colors_item" style="background: #B40A1B;"></li>
                            <li class="card__colors_item" style="background: #22AE95;"></li>
                            <li class="card__colors_item" style="background: #FF0ABA;"></li>
                            <li class="card__colors_item">+3</li>
                        </ul>
                        <a href="#" class="card__title">Женский медицинский костюм</a>
                        <div class="card__desc">длинный, короткий, стандартный</div>
                        <div class="card__price">
                            <div class="card__price_old">1500 руб.</div>
                            <div class="card__price_new">750 руб.</div>
                            <div class="card__price_action">-50%</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__top">
                            <div class="card__logo">
                                <img src="../../assets/img/commodity-card/dickies.png" alt="">
                            </div>
                            <a href="#" class="card__featured js-featured-link">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" viewBox="0 0 512 512">
                                    <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                </svg>
                            </a>
                            <a href="#" class="card__img">
                                <img src="../../assets/img/card/card.jpg" alt="">
                            </a>
                        </div>
                        <ul class="card__colors">
                            <li class="card__colors_item" style="background: #000000;"></li>
                            <li class="card__colors_item" style="background: #ffffff; border: 1px solid #c4c4c4;"></li>
                            <li class="card__colors_item" style="background: #B40A1B;"></li>
                            <li class="card__colors_item" style="background: #22AE95;"></li>
                            <li class="card__colors_item" style="background: #FF0ABA;"></li>
                            <li class="card__colors_item">+3</li>
                        </ul>
                        <a href="#" class="card__title">Женский медицинский костюм</a>
                        <div class="card__desc">длинный, короткий, стандартный</div>
                        <div class="card__price">
                            <div class="card__price_old">1500 руб.</div>
                            <div class="card__price_new">750 руб.</div>
                            <div class="card__price_action">-50%</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__top">
                            <div class="card__logo">
                                <img src="../../assets/img/commodity-card/dickies.png" alt="">
                            </div>
                            <a href="#" class="card__featured js-featured-link">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" viewBox="0 0 512 512">
                                    <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                </svg>
                            </a>
                            <a href="#" class="card__img">
                                <img src="../../assets/img/card/card.jpg" alt="">
                            </a>
                        </div>
                        <ul class="card__colors">
                            <li class="card__colors_item" style="background: #000000;"></li>
                            <li class="card__colors_item" style="background: #ffffff; border: 1px solid #c4c4c4;"></li>
                            <li class="card__colors_item" style="background: #B40A1B;"></li>
                            <li class="card__colors_item" style="background: #22AE95;"></li>
                            <li class="card__colors_item" style="background: #FF0ABA;"></li>
                            <li class="card__colors_item">+3</li>
                        </ul>
                        <a href="#" class="card__title">Женский медицинский костюм</a>
                        <div class="card__desc">длинный, короткий, стандартный</div>
                        <div class="card__price">
                            <div class="card__price_old">1500 руб.</div>
                            <div class="card__price_new">750 руб.</div>
                            <div class="card__price_action">-50%</div>
                        </div>
                    </div>
                </div>
                <!-- /.catalog__products -->

                <div class="catalog__pagination">
                    //= ../pagination/pagination.html
                    <div class="catalog__scroll js-scroll-top"></div>
                </div>
                <!-- /.catalog__pagination -->

            </main>
            <!-- /.catalog__main -->

        </div>
        <!-- /.catalog__grid -->

    </div>
    <!-- /.container -->

</div>
<!-- /.catalog -->