.catalog__grid {
  display: grid;
  grid-template-columns: 265px 1fr;
  grid-gap: 30px;
}

.catalog__categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 40px;
}

.catalog__categories_grid_item {
  position: relative;
  display: block;
  padding-bottom: 100%;
  background-color: $primary;
  border-radius: 5px;
  overflow: hidden;
  &:hover {
    background-color: $accent;
  }
  img {
    position: absolute;
    max-height: 95%;
  }
  &.item-1 {
    img {
      bottom: 0;
      right: 0;
    }
  }
  &.item-2 {
    img {
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      max-height: 80%;
    }
  }
  &.item-3 {
    img {
      top: 0;
      right: 0;
    }
  }
  &.item-4 {
    img {
      bottom: 0;
      right: 0;
    }
  }
  &.item-5 {
    img {
      bottom: 0;
      right: 0;
    }
  }
  &.item-6 {
    img {
      bottom: 50%;
      right: 50%;
      transform: translate(50%,50%);
      width: 80%;
    }
  }
  &.item-7 {
    img {
      bottom: 0;
      right: 0;
    }
  }
}

.catalog__categories_grid_item_title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 18px;
  color: $white;
}

.catalog__settings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 45px;
}

.catalog__settings_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
  padding: 5px 0;
}

.catalog__settings_label {
  margin-right: 10px;
  font-weight: 500;
  font-size: 20px;
}

.catalog__settings_link {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: $primary;
  font-size: 18px;
  color: $white;
  &:hover {
    background-color: $accent;
  }
  span {
    margin-left: 5px;
    font-size: 25px;
  }
}

.catalog__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 30px;
}

.catalog__pagination {
  position: relative;
  margin-top: 30px;
}

.catalog__scroll {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: $primary-light;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background-color: $primary;
    &:before {
      border-top-color: $white;
      border-left-color: $white;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-25%) rotate(45deg);
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-top-color: $text-primary;
    border-left-color: $text-primary;
    transition: .3s;
  }
}



@media (max-width: 1140px) {
  .catalog__grid {
    grid-template-columns: 1fr;
  }
  .catalog__categories {
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    margin-top: 20px;
  }
  .catalog__categories_grid_item {
    overflow: visible;
    &.item-3 {
      img {
        top: 0;
        right: 50%;
        transform: translateX(50%);
      }
    }
    &.item-4 {
      img {
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
      }
    }
    &.item-6 {
      img {
        bottom: 50%;
        right: 50%;
        transform: translate(50%,50%);
        width: 80%;
      }
    }
    &.item-7 {
      img {
        bottom: 0;
        right: 0;
      }
    }
  }
  .catalog__categories_grid_item_title {
    bottom: -5px;
    left: 50%;
    transform: translate(-50%,100%);
    font-size: 16px;
    color: $text-primary;
  }
  .catalog__settings_item {
    margin-right: 10px;
  }
  .catalog__settings_label {
    margin-right: 5px;
    font-size: 16px;
  }
  .catalog__settings_link {
    height: 20px;
    padding: 0 10px;
    font-size: 12px;
    span {
      font-size: 16px;
    }
  }
  .catalog__products {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
  .catalog__pagination {
    margin-top: 0;
  }
  .catalog__scroll {
    display: none;
  }
}