<div class="catalog">

    <div class="container">

        <div class="catalog__grid">

            //= ../sidebar/sidebar.html

            <main class="catalog__main">

                <div class="h2">Медицинские костюмы</div>

                <div class="catalog__categories">
                    <a href="#" class="catalog__categories_grid_item item-1">
                        <img src="../../assets/img/categories/categories__img-1.png" alt="">
                        <div class="catalog__categories_grid_item_title">Топы</div>
                    </a>
                    <a href="#" class="catalog__categories_grid_item item-2">
                        <img src="../../assets/img/categories/categories__img-2.png" alt="">
                        <div class="catalog__categories_grid_item_title">Костюмы</div>
                    </a>
                    <a href="#" class="catalog__categories_grid_item item-3">
                        <img src="../../assets/img/categories/categories__img-3.png" alt="">
                        <div class="catalog__categories_grid_item_title">Брюки</div>
                    </a>
                    <a href="#" class="catalog__categories_grid_item item-4">
                        <img src="../../assets/img/categories/categories__img-4.png" alt="">
                        <div class="catalog__categories_grid_item_title">Халаты</div>
                    </a>
                    <a href="#" class="catalog__categories_grid_item item-5">
                        <img src="../../assets/img/categories/categories__img-5.png" alt="">
                        <div class="catalog__categories_grid_item_title">Жакеты</div>
                    </a>
                    <a href="#" class="catalog__categories_grid_item item-6">
                        <img src="../../assets/img/categories/categories__img-6.png" alt="">
                        <div class="catalog__categories_grid_item_title">Обувь</div>
                    </a>
                    <a href="#" class="catalog__categories_grid_item item-7">
                        <img src="../../assets/img/categories/categories__img-7.png" alt="">
                        <div class="catalog__categories_grid_item_title">Прочее</div>
                    </a>
                </div>
                <!-- /.catalog__categories -->

            </main>
            <!-- /.catalog__main -->

        </div>
        <!-- /.catalog__grid -->

    </div>
    <!-- /.container -->

</div>
<!-- /.catalog -->