<div class="page-404">
    <div class="container">
        
        <div class="page-404__grid">

            <div class="page-404__grid_left">
                <div class="page-404__title">404</div>
                <div class="page-404__subtitle">Страница не найдена</div>
                <div class="page-404__desc">
                    Страница устралела, была перемещена, удалена или никогда не существовала.
                </div>
                <div class="page-404__btn">
                    <a href="index.html" class="btn btn-primary">Перейти на главную</a>
                </div>
            </div>

            <div class="page-404__grid_right">
                <img src="../../assets/img/404/404.png" alt="">
            </div>
            
        </div>
        <!-- /.page-404__grid -->
        
    </div>
    <!-- /.container -->
</div>
<!-- /.page-404 -->