<aside class="sidebar">
    <div class="sidebar__block">
        <div class="sidebar__title">Категории товаров</div>
        <ul class="sidebar__list">
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Топы</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Брюки</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Костюмы</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Халаты</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Жакеты</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Обувь</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Прочее</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar__block -->
    <div class="sidebar__block">
        <div class="sidebar__title">Пол</div>
        <ul class="sidebar__list">
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Женский</span>
                </label>
            </li>
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Мужской</span>
                </label>
            </li>
        </ul>
    </div>
    <!-- /.sidebar__block -->
    <div class="sidebar__block">
        <div class="sidebar__title">Цена</div>
        <div class="sidebar__range" id="range"></div>
        <div class="sidebar__range_value">
            <label>
                <input type="text" class="from" id="range-value-1" value="0" placeholder="От" min="0">
            </label>
            <label>
                <input type="text" class="to" id="range-value-2" value="0" placeholder="До" min="0">
            </label>
        </div>
    </div>
    <!-- /.sidebar__block -->
    <div class="sidebar__block">
        <div class="sidebar__title">Цвет</div>
        <ul class="sidebar__list" id="sidebar-color">
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Белый</span>
                </label>
            </li>
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Синий</span>
                </label>
            </li>
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Красный</span>
                </label>
            </li>
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Чёрный</span>
                </label>
            </li>
            <li class="sidebar__list_item read-more-content">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Белый</span>
                </label>
            </li>
            <li class="sidebar__list_item read-more-content">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Белый</span>
                </label>
            </li>
            <li class="sidebar__list_item read-more-content">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Белый</span>
                </label>
            </li>
            <li class="sidebar__list_item read-more-content">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Белый</span>
                </label>
            </li>
            <li class="sidebar__list_item read-more-content">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Белый</span>
                </label>
            </li>
        </ul>
        <a href="#sidebar-color" class="sidebar__read-more read-more-link">Больше</a>
    </div>
    <!-- /.sidebar__block -->
    <div class="sidebar__block">
        <div class="sidebar__title">Производитель </div>
        <ul class="sidebar__list" id="sidebar-manufacturer">
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Other Stories</span>
                </label>
            </li>
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Dickies</span>
                </label>
            </li>
            <li class="sidebar__list_item read-more-content">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Other Stories</span>
                </label>
            </li>
            <li class="sidebar__list_item read-more-content">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Dickies</span>
                </label>
            </li>
            <li class="sidebar__list_item read-more-content">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Other Stories</span>
                </label>
            </li>
            <li class="sidebar__list_item read-more-content">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Dickies</span>
                </label>
            </li>
            <li class="sidebar__list_item read-more-content">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Other Stories</span>
                </label>
            </li>
            <li class="sidebar__list_item read-more-content">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Dickies</span>
                </label>
            </li>
            <li class="sidebar__list_item read-more-content">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Other Stories</span>
                </label>
            </li>
            <li class="sidebar__list_item read-more-content">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Dickies</span>
                </label>
            </li>
        </ul>
        <a href="#sidebar-manufacturer" class="sidebar__read-more read-more-link">Больше</a>
    </div>
    <!-- /.sidebar__block -->
</aside>
<!-- /.sidebar -->