<aside class="sidebar">
    <div class="sidebar__block">
        <div class="sidebar__title">Категории товаров</div>
        <ul class="sidebar__list">
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Топы</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Брюки</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Костюмы</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Халаты</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Жакеты</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Обувь</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Прочее</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar__block -->
    <div class="sidebar__block">
        <div class="sidebar__title">Пол</div>
        <ul class="sidebar__list">
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Женский</span>
                </label>
            </li>
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Мужской</span>
                </label>
            </li>
        </ul>
    </div>
    <!-- /.sidebar__block -->
    <div class="sidebar__block">
        <div class="sidebar__title">Title</div>
        <ul class="sidebar__list">
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar__block -->
    <div class="sidebar__block">
        <div class="sidebar__title">Цвет</div>
        <ul class="sidebar__list">
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Белый</span>
                </label>
            </li>
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Синий</span>
                </label>
            </li>
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Красный</span>
                </label>
            </li>
            <li class="sidebar__list_item">
                <label class="check">
                    <input type="checkbox" class="check__input">
                    <span class="check__box"></span>
                    <span class="check__label">Чёрный</span>
                </label>
            </li>
        </ul>
    </div>
    <!-- /.sidebar__block -->
    <div class="sidebar__block">
        <div class="sidebar__title">Title</div>
        <ul class="sidebar__list">
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar__block -->
</aside>
<!-- /.sidebar -->