<aside class="sidebar">
    <div class="sidebar__block">
        <div class="sidebar__title">Категории товаров</div>
        <ul class="sidebar__list">
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Топы</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Брюки</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Костюмы</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Халаты</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Жакеты</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Обувь</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Прочее</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar__block -->
    <div class="sidebar__block">
        <div class="sidebar__title">Title</div>
        <ul class="sidebar__list">
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar__block -->
    <div class="sidebar__block">
        <div class="sidebar__title">Title</div>
        <ul class="sidebar__list">
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar__block -->
    <div class="sidebar__block">
        <div class="sidebar__title">Title</div>
        <ul class="sidebar__list">
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar__block -->
    <div class="sidebar__block">
        <div class="sidebar__title">Title</div>
        <ul class="sidebar__list">
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
            <li class="sidebar__list_item">
                <a href="#" class="sidebar__list_item_link">Link</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar__block -->
</aside>
<!-- /.sidebar -->