.footer {
  margin-top: 40px;
  background-color: $primary;
  color: $white;
}

.footer__top {
  padding: 50px 0 35px;
  border-bottom: 1px solid #c4c4c4;
}

.footer__grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

.footer__copy {
  margin-top: 12px;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.footer__social_icon {
  width: 50px;
  margin-right: 15px;
  img {
    width: 100%;
  }
}

.footer__social_label {
  margin-bottom: 5px;
  font-size: 18px;
}

.footer__link {
  font-weight: 500;
  font-size: 18px;
  &.link {
    &:before {
      height: 2px;
    }
  }
}

.footer__list {
  &.contacts {
    .footer__list_item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.footer__social_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}

.footer__social_list_link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid $white;
  &:last-child {
    margin-right: 0;
  }
  img {
    width: 25px;
  }
}

.footer__title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
}

.footer__list_item {
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}

.footer__list_item_label {
  margin-bottom: 5px;
}

.footer__bot {
  padding: 35px 0 50px;
}

.footer__desc {
  max-width: 700px;
  font-size: 14px;
}