<footer class="footer">

    <div class="footer__top">

        <div class="container">

            <div class="footer__grid">
                
                <div class="footer__grid_item">
                    <div class="footer__logo">
                        <img src="../../assets/img/icons/logo-white.png" alt="">
                    </div>
                    <div class="footer__copy">
                        Ⓒ 2011-2020 г. MedUniform.ru - <br> магазин медицинской одежды. <br>
                        Все права защищены.
                    </div>
                    <div class="footer__social">
                        <div class="footer__social_icon">
                            <img src="../../assets/img/svg/instagram.svg" alt="">
                        </div>
                        <div class="footer__social_info">
                            <div class="footer__social_label">Мы в Инстаграмм</div>
                            <a href="#" class="footer__link link">medufiform</a>
                        </div>
                    </div>
                    <div class="footer__social">
                        <div class="footer__social_icon">
                            <img src="../../assets/img/svg/vk.svg" alt="">
                        </div>
                        <div class="footer__social_info">
                            <div class="footer__social_label">Мы в Вконтакте</div>
                            <a href="#" class="footer__link link">doctorgroup48</a>
                        </div>
                    </div>
                    <div class="footer__social_list">
                        <a href="#" class="footer__social_list_link">
                            <img src="../../assets/img/svg/telegram-white.svg" alt="">
                        </a>
                        <a href="#" class="footer__social_list_link">
                            <img src="../../assets/img/svg/whatsapp-white.svg" alt="">
                        </a>
                    </div>
                </div>
                <!-- /.footer__grid_item -->

                <div class="footer__grid_item">
                    <div class="footer__title active" data-target="#footer-title-1">Каталог</div>
                    <ul class="footer__list active" id="footer-title-1">
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Бренды</a>
                        </li>
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Топы</a>
                        </li>
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Брюки</a>
                        </li>
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Костюмы</a>
                        </li>
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Халаты</a>
                        </li>
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Жакеты</a>
                        </li>
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Обувь</a>
                        </li>
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Прочее</a>
                        </li>
                    </ul>
                </div>
                <!-- /.footer__grid_item -->

                <div class="footer__grid_item">
                    <div class="footer__title" data-target="#footer-title-2">Покупателям</div>
                    <ul class="footer__list" id="footer-title-2">
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">О компании</a>
                        </li>
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Адреса магазинов</a>
                        </li>
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Доставка</a>
                        </li>
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Способы оплаты</a>
                        </li>
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Гарантия</a>
                        </li>
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Политика конфиденциальности</a>
                        </li>
                        <li class="footer__list_item">
                            <a href="#" class="footer__list_item_link link">Одеть клинику</a>
                        </li>
                    </ul>
                </div>
                <!-- /.footer__grid_item -->

                <div class="footer__grid_item">
                    <div class="footer__title" data-target="#footer-title-3">Контакты</div>
                    <ul class="footer__list contacts" id="footer-title-3">
                        <li class="footer__list_item">
                            <div class="footer__list_item_label">Телефон</div>
                            <a href="tel:84742718742" class="footer__link link">8 (4742) 71-87-42</a>
                        </li>
                        <li class="footer__list_item">
                            <div class="footer__list_item_label">Почта</div>
                            <a href="mailto:sales@medodegda48.ru" class="footer__link link">sales@medodegda48.ru</a>
                        </li>
                        <li class="footer__list_item">
                            <div class="footer__list_item_label">Адрес</div>
                            <div class="footer__link">г. Липецк, ул. Механизаторов/5</div>
                        </li>
                        <li class="footer__list_item">
                            <div class="footer__list_item_label">График работы</div>
                            пн-пт с 10:00 до 19:00 <br>
                            сб-вс с 10:00 до 17:00
                        </li>
                    </ul>
                </div>
                <!-- /.footer__grid_item -->
                
            </div>
            <!-- /.footer__grid -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.footer__top -->

    <div class="footer__bot">

        <div class="container">

            <div class="footer__desc">
                Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни
                при каких условиях не является публичной офертой, определяемой положениями Статьи 494 Гражданского
                кодекса Российской Федерации. Для получения подробной информации о наличии, стоимости и условиях продажи
                / ремонта указанных товаров и (или) услуг, пожалуйста, обращайтесь к дежурному менеджеру.
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.footer__bot -->

</footer>
<!-- /.footer -->