<div class="personal">
    <div class="container">
        <div class="personal__subtitle">Здравствуйте,</div>
        <div class="personal__title">Андреев Александр Владимирович!</div>
        <div class="personal__desc">среда, 25 июня, 20:47:13</div>
        <ul class="personal__list">
            <li class="personal__list_item">
                <a href="#" class="personal__list_item_link">История заказов</a>
            </li>
            <li class="personal__list_item">
                <a href="#" class="personal__list_item_link">Ваш профиль</a>
            </li>
            <li class="personal__list_item">
                <a href="#" class="personal__list_item_link">Избранные товары</a>
            </li>
        </ul>
    </div>
    <!-- /.container -->
</div>
<!-- /.personal -->