<div class="page-navigation">
    <div class="container">
        <ul class="page-navigation__list">
            <li class="page-navigation__item">
                <a href="#" class="page-navigation__link">История заказов</a>
            </li>
            <li class="page-navigation__item">
                <a href="#" class="page-navigation__link active">Ваш профиль</a>
            </li>
            <li class="page-navigation__item">
                <a href="#" class="page-navigation__link">Избранные товары</a>
            </li>
        </ul>
        <!-- /.page-navigation__list -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-navigation -->