<div class="page-text">
    <div class="container">

        <div class="h2">Частые вопросы</div>

        <div class="page-text__title">Какими способами я могу вернуть товар?</div>

        <div class="page-text__content">
            Если вы не смогли принять доставку, можно договориться о платной доставке заказа в другой день (п. 24 Правил продажи товаров дистанционным способом).
        </div>

        <div class="page-text__title">Через какое время мне вернутся денежные средства при возврате товара?</div>

        <div class="page-text__content">
            Мы возвращаем денежные средства в течение 10 дней с момента возврата товара (ст. 22 Закона РФ «О защите прав потребителей» и Разъяснения Роспотребнадзора от 27.04.2017 г.). Срок может увеличиваться при возврате денежных средств на карту в связи с правилами работы конкретного банка.
        </div>

        <div class="page-text__title">Какой установлен срок для возврата товара надлежащего качества?</div>

        <div class="page-text__content">
            У вас есть возможность вернуть товар надлежащего качества в течение 14 календарных дней, не считая дня покупки. Для этого товар должен сохранить товарный вид (в т.ч. ярлыки) и потребительские свойства.
        </div>

        <div class="page-text__title">Какой установлен срок и порядок возврата товаров ненадлежащего качества?</div>

        <div class="page-text__content">
            В пределах гарантийного срока Покупатель вправе по своему выбору обратиться с требованием о возврате товара ненадлежащего качества к изготовителю, продавцу или импортеру.
            Гарантийный срок на одежду и обувь, если иное не установлено изготовителем или ГОСТом, составляет 30 (тридцать) календарных дней с момента покупки. Гарантийный срок, установленный изготовителем, указан в описании к товару. Если гарантийный срок изготовителя составляет более 30 (тридцати) календарных дней, применяется гарантийный срок изготовителя.
            Гарантийный срок на обувь отсчитывается с момента наступления соответствующего сезона. Начало сезона определяется субъектами Российской Федерации исходя из климатических условий места нахождения Покупателя (абз. 2 п. 2 ст. 19 Закона РФ «О защите прав потребителей»).
            В Москве начало сезонов установлено Постановлением Правительства Москвы от 16 июля 2013 г. N 466-пп «Об установлении сроков наступления сезонов для исчисления гарантийных сроков и сроков службы сезонных товаров на территории города Москвы»: зимний сезон с 1 ноября по 1 марта; весенний сезон - с 1 марта по 1 мая; летний сезон - с 1 мая по 1 сентября; осенний сезон - с 1 сентября по 1 ноября.
            Если на товар установлен гарантийный срок, то Продавец отвечает за недостатки Товара, если не докажет, что они возникли после передачи товара Покупателю вследствие нарушения Покупателем правил использования, хранения или транспортировки Товара, действий третьих лиц или непреодолимой силы.
            Если гарантийный срок составляет менее двух лет и недостатки товара обнаружены по истечении гарантийного срока, но в пределах двух лет, Покупатель вправе предъявить Продавцу (или изготовителю) требования, если Покупатель докажет, что недостатки товара возникли до его передачи потребителю или по причинам, возникшим до этого момента.
        </div>

        <div class="page-text__title">В каких случаях покупатель должен обратиться с претензией сразу к изготовителю, а не к нашему магазину?</div>

        <div class="page-text__content">
            Вам следует обратиться с требованиями сразу к изготовителю товара, если существенный недостаток товара выявлен по истечении 2 лет со дня получения вами товара и к этому моменту на него истек гарантийный срок.
            При этом вам необходимо самостоятельно доказать, что выявленный недостаток является существенным и что он возник до передачи товара или по причинам, возникшим до этого момента (ч. 6 ст. 19 Закона РФ «О защите прав потребителей», пункт 7 «Обзора практики рассмотрения судами дел по спорам о защите прав потребителей, связанным с реализацией товаров и услуг» (утв. Президиумом Верховного Суда РФ 17.10.2018 г.)
        </div>

        <div class="page-text__title">Какая установлена очередность возврата денег покупателю и товара продавцу?</div>

        <div class="page-text__content">
            В соответствии со статьей 22 Закона РФ «О защите прав потребителей» и Разъяснениями Роспотребнадзора от 27.04.2017 г. возврат денег Покупателю осуществляется только после передачи товара Lamoda для проведения проверки на предмет сохранения товарного вида и потребительских свойств либо для проведения экспертизы товара в случае возврата товара ненадлежащего качества.
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.page-text -->