<div class="dress-up-the-clinic">
    <div class="container">

        <div class="h2">Одеть клинику</div>

        <div class="dress-up-the-clinic__label">Вам нужен корпоративный стиль?</div>

        <ul class="dress-up-the-clinic__list">
            <li class="dress-up-the-clinic__list_item">
                Мы всегда рады нашем клиентам. Наш магазин с радостью оденет ваших сотрудников в качественную форму.
            </li>
            <li class="dress-up-the-clinic__list_item">
                Почему стоит одеваться именно у нас?
            </li>
        </ul>

        <ol class="dress-up-the-clinic__list">
            <li class="dress-up-the-clinic__list_item">
                MedUniform.ru - большой выбор медицинской одежды. Нас знают и нам доверяют.
            </li>
            <li class="dress-up-the-clinic__list_item">
                Наши специалисты помогут Вам выбрать нужные модели и цвета.
            </li>
            <li class="dress-up-the-clinic__list_item">
                Мы отбираем и предлагаем только ту одежду, за которую нам не стыдно
            </li>
            <li class="dress-up-the-clinic__list_item">
                С нами легко и удобно работать!
            </li>
        </ol>

        <div class="dress-up-the-clinic__label">Позвоните или напишите нам, чтобы убедиться в этом.</div>

        <ul class="dress-up-the-clinic__list">
            <li class="dress-up-the-clinic__list_item">
                <span>Email:</span> <a href="mailto:sales@medodegda48.ru">sales@medodegda48.ru</a>
            </li>
            <li class="dress-up-the-clinic__list_item">
                <span>Телефон:</span> <a href="tel:84742718742">8 (4742) 71-87-42</a>
            </li>
        </ul>

        <div class="dress-up-the-clinic__grid">
            <img src="../../assets/img/dress-up-the-clinic/dress-up-the-clinic.png" alt="">
            <img src="../../assets/img/dress-up-the-clinic/dress-up-the-clinic.png" alt="">
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.dress-up-the-clinic -->