.commodity-card__grid {
  display: grid;
  grid-template-columns: minmax(0, 450px) minmax(0, 1fr);
  grid-gap: 30px;
}

.commodity-card__slider-big {
  .slick-slide {
    outline: none;
  }
}

.commodity-card__slider-big_item {
  position: relative;
  outline: none;
  &:hover {
    &:before {
      opacity: 1;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='search-plus' class='svg-inline--fa fa-search-plus fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%232697ff' d='M304 192v32c0 6.6-5.4 12-12 12h-56v56c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-56h-56c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h56v-56c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v56h56c6.6 0 12 5.4 12 12zm201 284.7L476.7 505c-9.4 9.4-24.6 9.4-33.9 0L343 405.3c-4.5-4.5-7-10.6-7-17V372c-35.3 27.6-79.7 44-128 44C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 48.3-16.4 92.7-44 128h16.3c6.4 0 12.5 2.5 17 7l99.7 99.7c9.3 9.4 9.3 24.6 0 34zM344 208c0-75.2-60.8-136-136-136S72 132.8 72 208s60.8 136 136 136 136-60.8 136-136z'%3E%3C/path%3E%3C/svg%3E");
    opacity: 0;
    transition: .3s;
  }
}

.commodity-card__slider-small {
  margin-top: 20px;
  .slick-list {
    margin: 0 -10px;
  }
  .slick-slide {
    padding: 0 10px;
    outline: none;
  }
  .slick-current {
    .commodity-card__slider-small_item {
      border-color: $primary;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 0;
    width: 34px;
    height: 100%;
    &:before {
      border-top-color: $primary;
      border-right-color: $primary;
    }
    &.slick-disabled {
      display: none !important;
    }
  }
  .slick-prev {
    left: -10px;
    background: linear-gradient(90deg, #FFFFFF 40%, rgba(255, 255, 255, 0) 100%);
  }
  .slick-next {
    right: -10px;
    background: linear-gradient(270deg, #FFFFFF 40%, rgba(255, 255, 255, 0) 100%);
  }
}

.commodity-card__slider-small_item {
  box-sizing: border-box;
  border: 2px solid transparent;
  cursor: pointer;
}

.commodity-card__title {
  font-weight: 500;
  font-size: 30px;
}

.commodity-card__featured {
  margin-top: 10px;
}

.commodity-card__featured_item {
  display: none;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  &:hover {
    .commodity-card__featured_icon {
      svg {
        fill: $accent;
      }
    }
    .commodity-card__featured_text {
      color: $accent;
    }
  }
  &.active {
    display: inline-flex;
  }
  &.selected {
    .commodity-card__featured_icon {
      svg {
        fill: $accent;
      }
    }
    .commodity-card__featured_text {
      color: $accent;
    }
  }
}

.commodity-card__featured_icon {
  margin-top: 7px;
  margin-right: 8px;
  svg {
    width: 20px;
    height: 20px;
    transition: .3s;
  }
}

.commodity-card__featured_text {
  font-size: 20px;
  color: $text-secondary;
  transition: .3s;
}

.commodity-card__product-options {
  margin-top: 40px;
}

.commodity-card__product-options_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
}

.commodity-card__product-options_title_label {
  margin-right: 8px;
  font-weight: 500;
}

.commodity-card__product-options_color {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  padding-bottom: 30px;
}

.commodity-card__product-options_color_item {
  position: relative;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &.active {
    border-color: $primary;
    outline: 1px solid $primary;
  }
}

.commodity-card__product-options_color_box {
  width: 37px;
  height: 37px;
  box-sizing: border-box;
  &.black {
    background-color: #000000;
  }
  &.blue {
    background: #3F55DE;
  }
  &.white {
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
  }
  &.red {
    background: #FF0000;
  }
}

.commodity-card__product-options_color_label {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 8px);
  font-size: 18px;
  text-transform: uppercase;
}

.commodity-card__product-options_size {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.commodity-card__product-options_size_item {
  width: 157px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #9E9E9E;
  font-size: 18px;
  cursor: pointer;
  transition: .3s;
  &:last-child {
    margin-right: 0;
  }
  &.active {
    border-color: $primary;
    background-color: $primary;
    color: $white;
  }
}

.commodity-card__price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
}

.commodity-card__price_old {
  margin-right: 15px;
  font-size: 27px;
  white-space: nowrap;
  text-decoration-line: line-through;
}

.commodity-card__price_new {
  margin-right: 15px;
  font-weight: bold;
  font-size: 36px;
  white-space: nowrap;
}

.commodity-card__price_action {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 15px;
  color: $white;
  &.percentage {
    width: 75px;
    background-color: $accent;
  }
  &.new {
    background: #04AF3E;
  }
}

.commodity-card__size-chart {
  margin-top: 35px;
}

.commodity-card__size-chart_link {
  position: relative;
  padding-right: 20px;
  font-size: 18px;
  color: $link;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 8px;
    border: 1px solid transparent;
    border-top-color: $link;
    border-right-color: $link;
    transform: translateY(-75%) rotate(135deg);
    transition: .3s;
  }
  &.active {
    &:before {
      transform: translateY(-25%) rotate(315deg);
    }
  }
}

.commodity-card__size-chart_table {
  display: none;
  margin-top: 15px;
}

.commodity-card__size-chart_table_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  box-sizing: border-box;
  border: 1px solid #C4C4C4;
  background-color: #C4C4C4;
}

.commodity-card__size-chart_table_item {
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  &.label {
    font-weight: 500;
  }
}

.commodity-card__order-list {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}

.commodity-card__order-list_item {
  width: 62px;
  margin-right: 3px;
  box-sizing: border-box;
  border: 1px solid #C4C4C4;
  &:last-child {
    margin-right: 0;
  }
  &.active {
    border-color: $primary;
    .commodity-card__order-list_add_btn {
      display: none;
    }
    .commodity-card__order-list_add_count {
      display: block;
    }
    .commodity-card__order-list_stock {
      border-color: $primary;
      background-color: $primary-light;
      &.in-stock {
        color: $text-primary;
      }
      &.expected {
        color: $text-primary;
      }
    }
  }
}

.commodity-card__order-list_size {
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  white-space: nowrap;
}

.commodity-card__order-list_stock {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
  background: rgba(244, 244, 244, 0.3);
  font-size: 9px;
  &.in-stock {
    color: #04AF3E;
  }
  &.expected {
    color: #DB8402;
  }
}

.commodity-card__order-list_add {
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commodity-card__order-list_add_count {
  display: none;
  input {
    width: 46px;
    height: 33px;
    border: 1px solid $primary;
    box-sizing: border-box;
    background-color: $white;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
}

.commodity-card__order-list_add_btn {
  width: 46px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary;
  font-weight: bold;
  font-size: 20px;
  color: $text-primary;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.commodity-card__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 45px;
}

.commodity-card__btn_add {
  width: 350px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  border-radius: 5px;
  background-color: $accent;
  font-weight: bold;
  font-size: 24px;
  color: $white;
  &:hover {
    background-color: $primary;
  }
}

.commodity-card__btn_click {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  color: $link;
  &:hover {
    color: $primary;
    svg {
      fill: $primary;
    }
  }
  svg {
    width: 20px;
    margin-right: 8px;
    fill: $link;
    transition: .3s;
  }
}

.commodity-card__characteristic {
  position: relative;
  margin-top: 40px;
}

.commodity-card__characteristic_img {
  position: absolute;
  bottom: 30px;
  right: 0;
}

.commodity-card__characteristic_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  font-size: 18px;
  &:last-child {
    margin-bottom: 0;
  }
}

.commodity-card__characteristic_label {
  margin-right: 8px;
  font-weight: 500;
}

.commodity-card__description {
  margin-top: 30px;
  font-size: 18px;
}

.commodity-card {}