<div class="commodity-card">

    <div class="container">

        <div class="commodity-card__grid">

            <div class="commodity-card__grid_left">

                <div class="commodity-card__slider-big">
                    <a href="#" class="commodity-card__slider-big_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </a>
                    <a href="#" class="commodity-card__slider-big_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </a>
                    <a href="#" class="commodity-card__slider-big_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </a>
                    <a href="#" class="commodity-card__slider-big_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </a>
                </div>
                <!-- /.commodity-card__slider-big -->

                <div class="commodity-card__slider-small">
                    <div class="commodity-card__slider-small_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </div>
                    <div class="commodity-card__slider-small_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </div>
                    <div class="commodity-card__slider-small_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </div>
                    <div class="commodity-card__slider-small_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </div>
                </div>
                <!-- /.commodity-card__slider-small -->

            </div>
            <!-- /.commodity-card__grid_left -->

            <div class="commodity-card__grid_right">

                <div class="commodity-card__title">
                    МС - 430 Женский медицинский костюм, набранный в 2 строки
                </div>

                <div class="commodity-card__featured">
                    <div class="commodity-card__featured_item not-selected active" data-target=".selected">
                        <div class="commodity-card__featured_icon">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 40.508 40.508" xml:space="preserve">
                                <path d="M3.023,20.822c0.019,0.031,0.042,0.059,0.066,0.083l15.918,16.914   c0.115,0.122,0.271,0.192,0.444,0.197h0.012c0.163,0,0.317-0.062,0.435-0.176L37.28,21.032c0.008-0.006,0.076-0.068,0.117-0.108   c0.034-0.032,0.062-0.065,0.068-0.081c1.962-2.032,3.043-4.702,3.043-7.517c0-5.974-4.86-10.834-10.835-10.834   c-3.91,0-7.498,2.094-9.419,5.48c-1.92-3.387-5.508-5.48-9.419-5.48C4.86,2.492,0,7.352,0,13.326   C-0.001,16.14,1.078,18.808,3.023,20.822z M10.834,3.743c3.875,0,7.346,2.312,8.842,5.891c0.098,0.233,0.324,0.383,0.577,0.383   c0.252,0,0.479-0.15,0.577-0.384c1.497-3.578,4.968-5.89,8.843-5.89c5.285,0,9.585,4.3,9.585,9.584   c0,2.521-0.978,4.904-2.754,6.712c-0.017,0.018-0.032,0.035-0.045,0.053L19.483,36.5l-15.4-16.358   c-0.023-0.037-0.05-0.072-0.082-0.104c-1.775-1.805-2.752-4.188-2.752-6.711C1.249,8.042,5.549,3.743,10.834,3.743z" data-original="#010002" class="active-path" data-old_color="#010002"/>
                            </svg>
                        </div>
                        <div class="commodity-card__featured_text">
                            Добавить в избранное
                        </div>
                    </div>
                    <div class="commodity-card__featured_item selected" data-target=".not-selected">
                        <div class="commodity-card__featured_icon">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img" viewBox="0 0 512 512">
                                <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                            </svg>
                        </div>
                        <div class="commodity-card__featured_text">
                            В избранном
                        </div>
                    </div>
                </div>
                <!-- /.commodity-card__featured -->

                <div class="commodity-card__product-options">
                    <div class="commodity-card__product-options_title">
                        <div class="commodity-card__product-options_title_label">Варианты товара:</div>
                        <div class="commodity-card__product-options_title_text">NAV, динный</div>
                    </div>
                    <!-- /.commodity-card__product-options_title -->
                    <ul class="commodity-card__product-options_color">
                        <li class="commodity-card__product-options_color_item">
                            <div class="commodity-card__product-options_color_box black"></div>
                            <div class="commodity-card__product-options_color_label">BLK</div>
                        </li>
                        <li class="commodity-card__product-options_color_item active">
                            <div class="commodity-card__product-options_color_box blue"></div>
                            <div class="commodity-card__product-options_color_label">NAV</div>
                        </li>
                        <li class="commodity-card__product-options_color_item">
                            <div class="commodity-card__product-options_color_box white"></div>
                            <div class="commodity-card__product-options_color_label">WIT</div>
                        </li>
                        <li class="commodity-card__product-options_color_item">
                            <div class="commodity-card__product-options_color_box red"></div>
                            <div class="commodity-card__product-options_color_label">CAPS</div>
                        </li>
                    </ul>
                    <!-- /.commodity-card__product-options_color -->
                    <ul class="commodity-card__product-options_size">
                        <li class="commodity-card__product-options_size_item active">Средний</li>
                        <li class="commodity-card__product-options_size_item">Укороченный</li>
                        <li class="commodity-card__product-options_size_item">Высокий</li>
                    </ul>
                    <!-- /.commodity-card__product-options_size -->
                </div>
                <!-- /.commodity-card__product-options -->

                <div class="commodity-card__price">
                    <div class="commodity-card__price_old">
                        1500 руб.
                    </div>
                    <div class="commodity-card__price_new">
                        750 руб.
                    </div>
                    <div class="commodity-card__price_action percentage">-50%</div>
                    <div class="commodity-card__price_action new">новинка</div>
                </div>
                <!-- /.commodity-card__price -->
                
                <div class="commodity-card__size-chart">
                    <a href="#commodity-card-size-chart" class="commodity-card__size-chart_link">
                        Посмотреть размерную сетку
                    </a>
                    <div class="commodity-card__size-chart_table" id="commodity-card-size-chart">
                        <ul class="commodity-card__size-chart_table_list">
                            <li class="commodity-card__size-chart_table_item label">Item</li>
                            <li class="commodity-card__size-chart_table_item label">Item</li>
                            <li class="commodity-card__size-chart_table_item label">Item</li>
                            <li class="commodity-card__size-chart_table_item label">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                            <li class="commodity-card__size-chart_table_item">Item</li>
                        </ul>
                        <!-- /.commodity-card__size-chart_table_list -->
                    </div>
                    <!-- /.commodity-card__size-chart_table -->
                </div>
                <!-- /.commodity-card__size-chart -->

            </div>
            <!-- /.commodity-card__grid_right -->

        </div>
        <!-- /.commodity-card__grid -->

    </div>
    <!-- /.container -->

</div>
<!-- /.commodity-card -->