<div class="commodity-card">

    <div class="container">

        <div class="commodity-card__grid">

            <div class="commodity-card__grid_left">
                <div class="commodity-card__slider-big">
                    <a href="#" class="commodity-card__slider-big_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </a>
                    <a href="#" class="commodity-card__slider-big_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </a>
                    <a href="#" class="commodity-card__slider-big_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </a>
                    <a href="#" class="commodity-card__slider-big_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </a>
                </div>
                <!-- /.commodity-card__slider-big -->
                <div class="commodity-card__slider-small">
                    <div class="commodity-card__slider-small_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </div>
                    <div class="commodity-card__slider-small_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </div>
                    <div class="commodity-card__slider-small_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </div>
                    <div class="commodity-card__slider-small_item">
                        <img src="../../assets/img/commodity-card/commodity-card.jpg" alt="">
                    </div>
                </div>
                <!-- /.commodity-card__slider-small -->
            </div>
            <!-- /.commodity-card__grid_left -->

            <div class="commodity-card__grid_right"></div>
            <!-- /.commodity-card__grid_right -->

        </div>
        <!-- /.commodity-card__grid -->

    </div>
    <!-- /.container -->

</div>
<!-- /.commodity-card -->