.commodity-card__grid {
  display: grid;
  grid-template-columns: minmax(0, 450px) minmax(0, 1fr);
  grid-gap: 30px;
}

.commodity-card__slider-small {
  margin-top: 20px;
  .slick-list {
    margin: 0 -10px;
  }
  .slick-slide {
    padding: 0 10px;
    outline: none;
  }
  .slick-current {
    .commodity-card__slider-small_item {
      border-color: $primary;
    }
  }
}

.commodity-card__slider-small_item {
  box-sizing: border-box;
  border: 2px solid transparent;
  cursor: pointer;
}

.commodity-card__title {
  font-weight: 500;
  font-size: 30px;
}

.commodity-card__featured {
  margin-top: 10px;
}

.commodity-card__featured_item {
  display: none;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  &:hover {
    .commodity-card__featured_icon {
      svg {
        fill: $accent;
      }
    }
    .commodity-card__featured_text {
      color: $accent;
    }
  }
  &.active {
    display: inline-flex;
  }
  &.selected {
    .commodity-card__featured_icon {
      svg {
        fill: $accent;
      }
    }
    .commodity-card__featured_text {
      color: $accent;
    }
  }
}

.commodity-card__featured_icon {
  margin-top: 7px;
  margin-right: 8px;
  svg {
    width: 20px;
    height: 20px;
    transition: .3s;
  }
}

.commodity-card__featured_text {
  font-size: 20px;
  color: $text-secondary;
  transition: .3s;
}

.commodity-card__product-options {
  margin-top: 40px;
}

.commodity-card__product-options_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
}

.commodity-card__product-options_title_label {
  margin-right: 8px;
  font-weight: 500;
}

.commodity-card__product-options_color {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  padding-bottom: 30px;
}

.commodity-card__product-options_color_item {
  position: relative;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &.active {
    border-color: $primary;
    outline: 1px solid $primary;
  }
}

.commodity-card__product-options_color_box {
  width: 37px;
  height: 37px;
  box-sizing: border-box;
  &.black {
    background-color: #000000;
  }
  &.blue {
    background: #3F55DE;
  }
  &.white {
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
  }
  &.red {
    background: #FF0000;
  }
}

.commodity-card__product-options_color_label {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 8px);
  font-size: 18px;
  text-transform: uppercase;
}

.commodity-card__product-options_size {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.commodity-card__product-options_size_item {
  width: 157px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #9E9E9E;
  font-size: 18px;
  cursor: pointer;
  transition: .3s;
  &:last-child {
    margin-right: 0;
  }
  &.active {
    border-color: $primary;
    background-color: $primary;
    color: $white;
  }
}

.commodity-card__price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
}

.commodity-card__price_old {
  margin-right: 15px;
  font-size: 27px;
  text-decoration-line: line-through;
}

.commodity-card__price_new {
  margin-right: 15px;
  font-weight: bold;
  font-size: 36px;
}

.commodity-card__price_action {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 15px;
  color: $white;
  &.percentage {
    width: 75px;
    background-color: $accent;
  }
  &.new {
    background: #04AF3E;
  }
}

.commodity-card__size-chart {
  margin-top: 35px;
}

.commodity-card__size-chart_link {
  position: relative;
  padding-right: 20px;
  font-size: 18px;
  color: $link;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 8px;
    border: 1px solid transparent;
    border-top-color: $link;
    border-right-color: $link;
    transform: translateY(-75%) rotate(135deg);
    transition: .3s;
  }
  &.active {
    &:before {
      transform: translateY(-25%) rotate(315deg);
    }
  }
}

.commodity-card__size-chart_table {
  display: none;
  margin-top: 15px;
}

.commodity-card__size-chart_table_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  box-sizing: border-box;
  border: 1px solid #C4C4C4;
  background-color: #C4C4C4;
}

.commodity-card__size-chart_table_item {
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  &.label {
    font-weight: 500;
  }
}

.commodity-card__order-list {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}

.commodity-card__order-list_item {
  width: 62px;
  margin-right: 3px;
  box-sizing: border-box;
  border: 1px solid #C4C4C4;
  &:last-child {
    margin-right: 0;
  }
  &.active {
    border-color: $primary;
    .commodity-card__order-list_add_btn {
      display: none;
    }
    .commodity-card__order-list_add_count {
      display: block;
    }
    .commodity-card__order-list_stock {
      border-color: $primary;
      background-color: $primary-light;
      &.in-stock {
        color: $text-primary;
      }
      &.expected {
        color: $text-primary;
      }
    }
  }
}

.commodity-card__order-list_size {
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  white-space: nowrap;
}

.commodity-card__order-list_stock {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
  background: rgba(244, 244, 244, 0.3);
  font-size: 9px;
  &.in-stock {
    color: #04AF3E;
  }
  &.expected {
    color: #DB8402;
  }
}

.commodity-card__order-list_add {
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commodity-card__order-list_add_count {
  display: none;
  input {
    width: 46px;
    height: 33px;
    border: 1px solid $primary;
    box-sizing: border-box;
    background-color: $white;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
}

.commodity-card__order-list_add_btn {
  width: 46px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary;
  font-weight: bold;
  font-size: 20px;
  color: $text-primary;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.commodity-card__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 45px;
}

.commodity-card__btn_add {
  width: 350px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  border-radius: 5px;
  background-color: $accent;
  font-weight: bold;
  font-size: 24px;
  color: $white;
  &:hover {
    background-color: $primary;
  }
}

.commodity-card__btn_click {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  color: $link;
  &:hover {
    color: $primary;
    svg {
      fill: $primary;
    }
  }
  svg {
    width: 20px;
    margin-right: 8px;
    fill: $link;
    transition: .3s;
  }
}

.commodity-card__characteristic {
  position: relative;
  margin-top: 40px;
}

.commodity-card__characteristic_img {
  position: absolute;
  bottom: 30px;
  right: 0;
}

.commodity-card__characteristic_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  font-size: 18px;
  &:last-child {
    margin-bottom: 0;
  }
}

.commodity-card__characteristic_label {
  margin-right: 8px;
  font-weight: 500;
}

.commodity-card {}