<div class="categories">

    <div class="container">

        <div class="h2 categories-h2">Категории товаров</div>

        <div class="categories__grid">
            <a href="#" class="categories__grid_item item-1">
                <img src="../../assets/img/categories/categories__img-1.png" alt="">
                <div class="categories__grid_item_title">Топы</div>
            </a>
            <a href="#" class="categories__grid_item item-2">
                <img src="../../assets/img/categories/categories__img-2.png" alt="">
                <div class="categories__grid_item_title">Костюмы</div>
            </a>
            <a href="#" class="categories__grid_item item-3">
                <img src="../../assets/img/categories/categories__img-3.png" alt="">
                <div class="categories__grid_item_title">Брюки</div>
            </a>
            <a href="#" class="categories__grid_item item-4">
                <img src="../../assets/img/categories/categories__img-4.png" alt="">
                <div class="categories__grid_item_title">Халаты</div>
            </a>
            <a href="#" class="categories__grid_item item-5">
                <img src="../../assets/img/categories/categories__img-5.png" alt="">
                <div class="categories__grid_item_title">Жакеты</div>
            </a>
            <a href="#" class="categories__grid_item item-6">
                <img src="../../assets/img/categories/categories__img-6.png" alt="">
                <div class="categories__grid_item_title">Обувь</div>
            </a>
            <a href="#" class="categories__grid_item item-7">
                <img src="../../assets/img/categories/categories__img-7.png" alt="">
                <div class="categories__grid_item_title">Прочее</div>
            </a>
        </div>
        <!-- /.categories__grid -->

    </div>
    <!-- /.container -->

</div>
<!-- /.categories -->