<div class="history">
    <div class="container">

        <div class="history__table_overflow">
            <div class="history__table">
                <div class="history__table_head">
                    <ul class="history__table_list">
                        <li class="history__table_item">Номер</li>
                        <li class="history__table_item">Создан</li>
                        <li class="history__table_item">Обнавлен</li>
                        <li class="history__table_item">Покупатель</li>
                        <li class="history__table_item">Итого</li>
                        <li class="history__table_item">Статус</li>
                        <li class="history__table_item">Действия</li>
                    </ul>
                </div>
                <!-- /.history__table_head -->
                <div class="history__table_body">
                    <ul class="history__table_list">
                        <li class="history__table_item">2006/2</li>
                        <li class="history__table_item">22.06.2020</li>
                        <li class="history__table_item">22.06.2020</li>
                        <li class="history__table_item">Василий Иванович Иванов</li>
                        <li class="history__table_item">1 500 руб.</li>
                        <li class="history__table_item">Новый</li>
                        <li class="history__table_item">
                            <a href="javascript:;" class="history__table_link" data-fancybox data-src="#modal-details">Детали</a>
                        </li>
                    </ul>
                    <ul class="history__table_list">
                        <li class="history__table_item">2006/2</li>
                        <li class="history__table_item">22.06.2020</li>
                        <li class="history__table_item">22.06.2020</li>
                        <li class="history__table_item">Василий Иванович Иванов</li>
                        <li class="history__table_item">1 500 руб.</li>
                        <li class="history__table_item">Новый</li>
                        <li class="history__table_item">
                            <a href="javascript:;" class="history__table_link" data-fancybox data-src="#modal-details">Детали</a>
                        </li>
                    </ul>
                </div>
                <!-- /.history__table_body -->
            </div>
            <!-- /.history__table -->
        </div>
        <!-- /.history__table_overflow -->

        <div class="history__sum">
            <div class="history__sum_title">Итого:</div>
            <ul class="history__sum_list">
                <li class="history__sum_list_item">
                    <div class="history__sum_list_item_left">Сумма заказов:</div>
                    <div class="history__sum_list_item_right">3 000 руб.</div>
                </li>
                <li class="history__sum_list_item">
                    <div class="history__sum_list_item_left">Кол-во заказов:</div>
                    <div class="history__sum_list_item_right">2 шт.</div>
                </li>
                <li class="history__sum_list_item">
                    <div class="history__sum_list_item_left">Кол-во товаров:</div>
                    <div class="history__sum_list_item_right">2 шт.</div>
                </li>
            </ul>
        </div>
        <!-- /.history__sum -->

    </div>
    <!-- /.container -->
</div>
<!-- /.history -->