.similar-production {
  padding-bottom: 40px;
}

.similar-production__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 40px;
}



@media (max-width: 1140px) {
  .similar-production {
    padding-bottom: 30px;
  }
  .similar-production__grid {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}