<div class="page-download">
    <div class="container">

        <div class="h2">Смотреть каталог коллекций</div>

        <div class="page-download__title">CHEROKIE Medical Uniform</div>

        <ul class="page-download__grid">
            <li class="page-download__grid_item">
                <a href="../../assets/img/download/download-card-1.jpg" download="" class="page-download__card">
                    <div class="page-download__card_img">
                        <img src="../../assets/img/download/download-card-1.jpg" alt="">
                    </div>
                    <div class="page-download__card_label">Лето 20 Cherokee WW Originals.pdf</div>
                </a>
            </li>
            <li class="page-download__grid_item">
                <a href="../../assets/img/download/download-card-2.jpg" download="" class="page-download__card">
                    <div class="page-download__card_img">
                        <img src="../../assets/img/download/download-card-2.jpg" alt="">
                    </div>
                    <div class="page-download__card_label">Лето 20 Cherokee WW Originals.pdf</div>
                </a>
            </li>
            <li class="page-download__grid_item">
                <a href="../../assets/img/download/download-card-3.jpg" download="" class="page-download__card">
                    <div class="page-download__card_img">
                        <img src="../../assets/img/download/download-card-3.jpg" alt="">
                    </div>
                    <div class="page-download__card_label">Лето 20 Cherokee WW Originals.pdf</div>
                </a>
            </li>
            <li class="page-download__grid_item">
                <a href="../../assets/img/download/download-card-4.jpg" download="" class="page-download__card">
                    <div class="page-download__card_img">
                        <img src="../../assets/img/download/download-card-4.jpg" alt="">
                    </div>
                    <div class="page-download__card_label">Лето 20 Cherokee WW Originals.pdf</div>
                </a>
            </li>
        </ul>
        <!-- /.page-download__grid -->

        <div class="page-download__title">Dikies </div>

        <ul class="page-download__grid">
            <li class="page-download__grid_item">
                <a href="../../assets/img/download/download-card-1.jpg" download="" class="page-download__card">
                    <div class="page-download__card_img">
                        <img src="../../assets/img/download/download-card-1.jpg" alt="">
                    </div>
                    <div class="page-download__card_label">Лето 20 Cherokee WW Originals.pdf</div>
                </a>
            </li>
            <li class="page-download__grid_item">
                <a href="../../assets/img/download/download-card-2.jpg" download="" class="page-download__card">
                    <div class="page-download__card_img">
                        <img src="../../assets/img/download/download-card-2.jpg" alt="">
                    </div>
                    <div class="page-download__card_label">Лето 20 Cherokee WW Originals.pdf</div>
                </a>
            </li>
            <li class="page-download__grid_item">
                <a href="../../assets/img/download/download-card-3.jpg" download="" class="page-download__card">
                    <div class="page-download__card_img">
                        <img src="../../assets/img/download/download-card-3.jpg" alt="">
                    </div>
                    <div class="page-download__card_label">Лето 20 Cherokee WW Originals.pdf</div>
                </a>
            </li>
            <li class="page-download__grid_item">
                <a href="../../assets/img/download/download-card-4.jpg" download="" class="page-download__card">
                    <div class="page-download__card_img">
                        <img src="../../assets/img/download/download-card-4.jpg" alt="">
                    </div>
                    <div class="page-download__card_label">Лето 20 Cherokee WW Originals.pdf</div>
                </a>
            </li>
        </ul>
        <!-- /.page-download__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.page-download -->