<div class="commodity-card-mobile">

    <div class="container">

        <div class="commodity-card__title">
            МС - 430 Женский медицинский костюм, набранный в 2 строки
        </div>

        <div class="commodity-card__product-options">
            <div class="commodity-card__product-options_title">
                <div class="commodity-card__product-options_title_label">Варианты товара:</div>
                <div class="commodity-card__product-options_title_text">NAV, динный</div>
            </div>
            <!-- /.commodity-card__product-options_title -->
            <ul class="commodity-card__product-options_color">
                <li class="commodity-card__product-options_color_item">
                    <div class="commodity-card__product-options_color_box black"></div>
                    <div class="commodity-card__product-options_color_label">BLK</div>
                </li>
                <li class="commodity-card__product-options_color_item active">
                    <div class="commodity-card__product-options_color_box blue"></div>
                    <div class="commodity-card__product-options_color_label">NAV</div>
                </li>
                <li class="commodity-card__product-options_color_item">
                    <div class="commodity-card__product-options_color_box white"></div>
                    <div class="commodity-card__product-options_color_label">WIT</div>
                </li>
                <li class="commodity-card__product-options_color_item">
                    <div class="commodity-card__product-options_color_box red"></div>
                    <div class="commodity-card__product-options_color_label">CAPS</div>
                </li>
            </ul>
            <!-- /.commodity-card__product-options_color -->
            <div class="commodity-card-mobile__product-options_size">
                <div class="commodity-card-mobile__product-options_size_dropdown">
                    <a href="#mobile-product-size" class="commodity-card-mobile__product-options_size_dropdown_link">
                        <span id="mobile-production-size-text">Длинный</span>
                    </a>
                    <div class="commodity-card-mobile__product-options_size_dropdown_content" id="mobile-product-size">
                        <a href="#mobile-production-size-text" class="commodity-card-mobile__product-options_size_dropdown_content_link active">
                            Длинный
                        </a>
                        <a href="#mobile-production-size-text" class="commodity-card-mobile__product-options_size_dropdown_content_link">
                            Укороченный
                        </a>
                        <a href="#mobile-production-size-text" class="commodity-card-mobile__product-options_size_dropdown_content_link">
                            Высокий
                        </a>
                    </div>
                </div>
                <!-- /.commodity-card-mobile__product-options_size_dropdown -->
                <div class="commodity-card-mobile__product-options_size_img">
                    <img src="../../assets/img/commodity-card/dickies.png" alt="">
                </div>
            </div>
            <!-- /.commodity-card-mobile__product-options_size -->
        </div>
        <!-- /.commodity-card__product-options -->

        <div class="commodity-card__price">
            <div class="commodity-card__price_old">
                1500 руб.
            </div>
            <div class="commodity-card__price_new">
                750 руб.
            </div>
            <div class="commodity-card__price_action percentage">-50%</div>
        </div>
        <!-- /.commodity-card__price -->

        <div class="commodity-card__size-chart">
            <a href="#commodity-card-size-chart" class="commodity-card__size-chart_link">
                Посмотреть размерную сетку
            </a>
            <div class="commodity-card__size-chart_table" id="commodity-card-size-chart">
                <ul class="commodity-card__size-chart_table_list">
                    <li class="commodity-card__size-chart_table_item label">Размер</li>
                    <li class="commodity-card__size-chart_table_item label">Обхват груди (см)</li>
                    <li class="commodity-card__size-chart_table_item label">Обхват талии (см)</li>
                    <li class="commodity-card__size-chart_table_item label">Обхват бёдер (см)</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                    <li class="commodity-card__size-chart_table_item">Item</li>
                </ul>
                <!-- /.commodity-card__size-chart_table_list -->
            </div>
            <!-- /.commodity-card__size-chart_table -->
        </div>
        <!-- /.commodity-card__size-chart -->

        <ul class="commodity-card__order-list">
            <li class="commodity-card__order-list_item" id="size-xxs">
                <div class="commodity-card__order-list_size">XXS</div>
                <div class="commodity-card__order-list_stock in-stock">в наличии</div>
                <div class="commodity-card__order-list_add">
                    <label class="commodity-card__order-list_add_count">
                        <input type="number" value="1" min="0" step="1">
                    </label>
                    <a href="#size-xxs" class="commodity-card__order-list_add_btn">+</a>
                </div>
            </li>
            <li class="commodity-card__order-list_item" id="size-xs">
                <div class="commodity-card__order-list_size">XS</div>
                <div class="commodity-card__order-list_stock expected">ожидается</div>
                <div class="commodity-card__order-list_add">
                    <label class="commodity-card__order-list_add_count">
                        <input type="number" value="1" min="0" step="1">
                    </label>
                    <a href="#size-xs" class="commodity-card__order-list_add_btn">+</a>
                </div>
            </li>
            <li class="commodity-card__order-list_item" id="size-s">
                <div class="commodity-card__order-list_size">S</div>
                <div class="commodity-card__order-list_stock under-the-order">под заказ</div>
                <div class="commodity-card__order-list_add">
                    <label class="commodity-card__order-list_add_count">
                        <input type="number" value="1" min="0" step="1">
                    </label>
                    <a href="#size-s" class="commodity-card__order-list_add_btn">+</a>
                </div>
            </li>
            <li class="commodity-card__order-list_item" id="size-m">
                <div class="commodity-card__order-list_size">M</div>
                <div class="commodity-card__order-list_stock in-stock">в наличии</div>
                <div class="commodity-card__order-list_add">
                    <label class="commodity-card__order-list_add_count">
                        <input type="number" value="1" min="0" step="1">
                    </label>
                    <a href="#size-m" class="commodity-card__order-list_add_btn">+</a>
                </div>
            </li>
            <li class="commodity-card__order-list_item active" id="size-l">
                <div class="commodity-card__order-list_size">L</div>
                <div class="commodity-card__order-list_stock in-stock">в наличии</div>
                <div class="commodity-card__order-list_add">
                    <label class="commodity-card__order-list_add_count">
                        <input type="number" value="1" min="0" step="1">
                    </label>
                    <a href="#size-l" class="commodity-card__order-list_add_btn">+</a>
                </div>
            </li>
            <li class="commodity-card__order-list_item" id="size-xl">
                <div class="commodity-card__order-list_size">XL</div>
                <div class="commodity-card__order-list_stock in-stock">в наличии</div>
                <div class="commodity-card__order-list_add">
                    <label class="commodity-card__order-list_add_count">
                        <input type="number" value="1" min="0" step="1">
                    </label>
                    <a href="#size-xl" class="commodity-card__order-list_add_btn">+</a>
                </div>
            </li>
            <li class="commodity-card__order-list_item" id="size-2xl">
                <div class="commodity-card__order-list_size">2XL</div>
                <div class="commodity-card__order-list_stock in-stock">в наличии</div>
                <div class="commodity-card__order-list_add">
                    <label class="commodity-card__order-list_add_count">
                        <input type="number" value="1" min="0" step="1">
                    </label>
                    <a href="#size-2xl" class="commodity-card__order-list_add_btn">+</a>
                </div>
            </li>
            <li class="commodity-card__order-list_item" id="size-3xl">
                <div class="commodity-card__order-list_size">3XL</div>
                <div class="commodity-card__order-list_stock in-stock">в наличии</div>
                <div class="commodity-card__order-list_add">
                    <label class="commodity-card__order-list_add_count">
                        <input type="number" value="1" min="0" step="1">
                    </label>
                    <a href="#size-3xl" class="commodity-card__order-list_add_btn">+</a>
                </div>
            </li>
            <li class="commodity-card__order-list_item" id="size-4xl">
                <div class="commodity-card__order-list_size">4XL</div>
                <div class="commodity-card__order-list_stock in-stock">в наличии</div>
                <div class="commodity-card__order-list_add">
                    <label class="commodity-card__order-list_add_count">
                        <input type="number" value="1" min="0" step="1">
                    </label>
                    <a href="#size-4xl" class="commodity-card__order-list_add_btn">+</a>
                </div>
            </li>
            <li class="commodity-card__order-list_item" id="size-5xl">
                <div class="commodity-card__order-list_size">5XL</div>
                <div class="commodity-card__order-list_stock in-stock">в наличии</div>
                <div class="commodity-card__order-list_add">
                    <label class="commodity-card__order-list_add_count">
                        <input type="number" value="1" min="0" step="1">
                    </label>
                    <a href="#size-5xl" class="commodity-card__order-list_add_btn">+</a>
                </div>
            </li>
        </ul>
        <!-- /.commodity-card__order-list -->

    </div>
    <!-- /.container -->

</div>
<!-- /.commodity-card-mobile -->