<div class="commodity-card-mobile">

    <div class="container">

        <div class="commodity-card__title">
            МС - 430 Женский медицинский костюм, набранный в 2 строки
        </div>

        <div class="commodity-card__product-options">
            <div class="commodity-card__product-options_title">
                <div class="commodity-card__product-options_title_label">Варианты товара:</div>
                <div class="commodity-card__product-options_title_text">NAV, динный</div>
            </div>
            <!-- /.commodity-card__product-options_title -->
            <ul class="commodity-card__product-options_color">
                <li class="commodity-card__product-options_color_item">
                    <div class="commodity-card__product-options_color_box black"></div>
                    <div class="commodity-card__product-options_color_label">BLK</div>
                </li>
                <li class="commodity-card__product-options_color_item active">
                    <div class="commodity-card__product-options_color_box blue"></div>
                    <div class="commodity-card__product-options_color_label">NAV</div>
                </li>
                <li class="commodity-card__product-options_color_item">
                    <div class="commodity-card__product-options_color_box white"></div>
                    <div class="commodity-card__product-options_color_label">WIT</div>
                </li>
                <li class="commodity-card__product-options_color_item">
                    <div class="commodity-card__product-options_color_box red"></div>
                    <div class="commodity-card__product-options_color_label">CAPS</div>
                </li>
            </ul>
            <!-- /.commodity-card__product-options_color -->
            <div class="commodity-card-mobile__product-options_size">
                <div class="commodity-card-mobile__product-options_size_dropdown">
                    <a href="#mobile-product-size" class="commodity-card-mobile__product-options_size_dropdown_link">
                        <span id="mobile-production-size-text">Длинный</span>
                    </a>
                    <div class="commodity-card-mobile__product-options_size_dropdown_content" id="mobile-product-size">
                        <a href="#mobile-production-size-text" class="commodity-card-mobile__product-options_size_dropdown_content_link active">
                            Длинный
                        </a>
                        <a href="#mobile-production-size-text" class="commodity-card-mobile__product-options_size_dropdown_content_link">
                            Укороченный
                        </a>
                        <a href="#mobile-production-size-text" class="commodity-card-mobile__product-options_size_dropdown_content_link">
                            Высокий
                        </a>
                    </div>
                </div>
                <!-- /.commodity-card-mobile__product-options_size_dropdown -->
                <div class="commodity-card-mobile__product-options_size_img">
                    <img src="../../assets/img/commodity-card/dickies.png" alt="">
                </div>
            </div>
            <!-- /.commodity-card-mobile__product-options_size -->
        </div>
        <!-- /.commodity-card__product-options -->

    </div>
    <!-- /.container -->

</div>
<!-- /.commodity-card-mobile -->