.commodity-card-mobile {
  .commodity-card__title {
    font-size: 20px;
  }
  .commodity-card__product-options {
    margin-top: 15px;
  }
  .commodity-card__product-options_title {
    font-size: 18px;
  }
  .commodity-card__product-options_color {
    margin-top: 15px;
  }
  .commodity-card__product-options_color_item {
    width: 42px;
    height: 42px;
  }
  .commodity-card__product-options_color_box {
    width: 27px;
    height: 27px;
  }
  .commodity-card__product-options_color_label {
    font-size: 14px;
  }
  .commodity-card__price {
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .commodity-card__price_old {
    margin-right: 10px;
    font-size: 18px;
  }
  .commodity-card__price_new {
    margin-right: 12px;
    font-size: 24px;
  }
  .commodity-card__price_action {
    height: 24px;
    margin-right: 10px;
    &.percentage {
      width: 54px;
      font-size: 14px;
    }
    &.new {
      width: 88px;
      font-size: 14px;
    }
  }
  .commodity-card__size-chart {
    margin-top: 15px;
  }
  .commodity-card__size-chart_table_item {
    height: 27px;
    font-size: 11px;
    &.label {
      height: 35px;
    }
  }
  .commodity-card__order-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;
    border: 1px solid #c4c4c4;
    background-color: #c4c4c4;
  }
  .commodity-card__order-list_item {
    width: 100%;
    min-width: auto;
    height: 44px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: none;
    &.active {
      outline: 1px solid $primary;
      .commodity-card__order-list_stock {
        background-color: #c1c6d9;
      }
    }
  }
  .commodity-card__order-list_size {
    width: 100%;
    height: 100%;
    background-color: $white;
  }
  .commodity-card__order-list_stock {
    width: 100%;
    height: 100%;
    border: none;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    background-color: #fcfcfc;
  }
  .commodity-card__order-list_add {
    width: 100%;
    height: 100%;
    background-color: $secondary;
  }
  .commodity-card__order-list_add_count {
    width: 100%;
    height: 100%;
    input {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .commodity-card__order-list_add_btn {
    width: 100%;
    height: 100%;
  }
  .commodity-card__btn {
    justify-content: center;
    margin-top: 30px;
  }
  .commodity-card__btn_add {
    width: 260px;
    height: 45px;
    margin: 0;
    font-size: 14px;
  }
  .commodity-card__characteristic {
    margin-top: 0;
  }
  .commodity-card__characteristic_item {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .commodity-card__description {
    margin-top: 0;
    font-size: 15px;
  }
}

.commodity-card-mobile__product-options_size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.commodity-card-mobile__product-options_size_img {
  width: 60px;
}

.commodity-card-mobile__product-options_size_dropdown {
  position: relative;
}

.commodity-card-mobile__product-options_size_dropdown_link {
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 42px 0 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid $primary;
  font-weight: 500;
  font-size: 14px;
  color: $primary;
  &.active {
    span {
      &:before {
        transform: translate(100%,-50%) rotate(180deg);
      }
    }
  }
  span {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: -12px;
      transform: translate(100%,-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #2e3f7f transparent transparent transparent;
      transition: .3s;
    }
  }
}

.commodity-card-mobile__product-options_size_dropdown_content {
  position: absolute;
  top: 37px;
  left: 0;
  box-sizing: border-box;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  background-color: $white;
  z-index: 5000;
  display: none;
}

.commodity-card-mobile__product-options_size_dropdown_content_link {
  display: block;
  box-sizing: border-box;
  padding: 3px 20px;
  font-size: 14px;
  color: $text-primary;
  &.active {
    color: $primary;
  }
}

.commodity-card-mobile__accordion {
  margin-top: 30px;
}

.commodity-card-mobile__accordion_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 18px;
  color: $text-primary;
  &:first-child {
    margin-top: 0;
  }
}

.commodity-card-mobile__accordion_content {
  display: none;
  padding-top: 10px;
}