.commodity-card-mobile {
  .commodity-card__title {
    font-size: 20px;
  }
  .commodity-card__product-options {
    margin-top: 15px;
  }
  .commodity-card__product-options_title {
    font-size: 18px;
  }
  .commodity-card__product-options_color {
    margin-top: 15px;
  }
  .commodity-card__product-options_color_item {
    width: 42px;
    height: 42px;
  }
  .commodity-card__product-options_color_box {
    width: 27px;
    height: 27px;
  }
  .commodity-card__product-options_color_label {
    font-size: 14px;
  }
  .commodity-card__price {
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .commodity-card__price_old {
    margin-right: 10px;
    font-size: 18px;
  }
  .commodity-card__price_new {
    margin-right: 12px;
    font-size: 24px;
  }
  .commodity-card__price_action {
    height: 24px;
    margin-right: 10px;
    &.percentage {
      width: 54px;
      font-size: 14px;
    }
    &.new {
      width: 88px;
      font-size: 14px;
    }
  }
  .commodity-card__size-chart {
    margin-top: 15px;
  }
  .commodity-card__size-chart_table_item {
    height: 27px;
    font-size: 11px;
    &.label {
      height: 35px;
    }
  }
}

.commodity-card-mobile__product-options_size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.commodity-card-mobile__product-options_size_img {
  width: 60px;
}

.commodity-card-mobile__product-options_size_dropdown {
  position: relative;
}

.commodity-card-mobile__product-options_size_dropdown_link {
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 42px 0 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid $primary;
  font-weight: 500;
  font-size: 14px;
  color: $primary;
  &.active {
    span {
      &:before {
        transform: translate(100%,-50%) rotate(180deg);
      }
    }
  }
  span {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: -12px;
      transform: translate(100%,-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #2e3f7f transparent transparent transparent;
      transition: .3s;
    }
  }
}

.commodity-card-mobile__product-options_size_dropdown_content {
  position: absolute;
  top: 37px;
  left: 0;
  box-sizing: border-box;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  background-color: $white;
  z-index: 5000;
  display: none;
}

.commodity-card-mobile__product-options_size_dropdown_content_link {
  display: block;
  box-sizing: border-box;
  padding: 3px 20px;
  font-size: 14px;
  color: $text-primary;
  &.active {
    color: $primary;
  }
}