<div class="dealer">

    <div class="container">

        <div class="dealer__title">
            <div class="h2">Мы — официальный дилер</div>
            <div class="dealer__arrows"></div>
        </div>

        <div class="dealer__slider">
            <div class="dealer__slider_item">
                <img src="../../assets/img/dealer/dealer-1.png" alt="">
            </div>
            <div class="dealer__slider_item">
                <img src="../../assets/img/dealer/dealer-1.png" alt="">
            </div>
            <div class="dealer__slider_item">
                <img src="../../assets/img/dealer/dealer-2.png" alt="">
            </div>
            <div class="dealer__slider_item">
                <img src="../../assets/img/dealer/dealer-3.png" alt="">
            </div>
            <div class="dealer__slider_item">
                <img src="../../assets/img/dealer/dealer-4.png" alt="">
            </div>
            <div class="dealer__slider_item">
                <img src="../../assets/img/dealer/dealer-1.png" alt="">
            </div>
            <div class="dealer__slider_item">
                <img src="../../assets/img/dealer/dealer-2.png" alt="">
            </div>
            <div class="dealer__slider_item">
                <img src="../../assets/img/dealer/dealer-3.png" alt="">
            </div>
            <div class="dealer__slider_item">
                <img src="../../assets/img/dealer/dealer-4.png" alt="">
            </div>
        </div>
        <!-- /.dealer__slider -->

    </div>
    <!-- /.container -->

</div>
<!-- /.dealer -->