.dealer {
  padding: 40px 0;
}

.dealer__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dealer__slider {
  margin-top: 40px;
  .slick-list {
    margin: 0 -5px;
  }
  .slick-slide {
    padding: 0 5px;
  }
}

.dealer__slider_item {
  height: 130px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.dealer__arrows {
  width: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .slick-prev,
  .slick-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $primary-light;
    &:focus {
      background-color: $primary-light;
    }
    &:hover {
      background-color: $primary;
    }
  }
}



@media (max-width: 1140px) {
  .dealer {
    padding: 30px 0 65px;
  }
  .dealer__title {
    justify-content: center;
  }
  .dealer__arrows {
    display: none;
  }
  .dealer__slider {
    margin-top: 25px;
    margin-bottom: 0 !important;
    .slick-dots {
      bottom: -35px;
      text-align: left;
      li {
        margin: 0 12px 0 0;
        &.slick-active {
          button {
            background-color: $primary;
          }
        }
        button {
          background-color: $primary-light;
        }
      }
    }
  }
  .dealer__slider_item {
    height: 80px;
  }
}