<div class="breakpoints">
    <div class="container">
        <ul class="breakpoints__list">
            <li class="breakpoints__item">
                <a href="#" class="breakpoints__link">Главная</a>
                &nbsp;>&nbsp;
            </li>
            <li class="breakpoints__item">
                <a href="#" class="breakpoints__link">Костюмы</a>
                &nbsp;>&nbsp;
            </li>
            <li class="breakpoints__item">
                MC-430 Женский медицинский костюм
            </li>
        </ul>
    </div>
    <!-- /.container -->
</div>
<!-- /.breakpoints -->