<div class="checkout">
    <div class="container">

        <div class="h2">Оформление заказа</div>

        <div class="checkout__grid">

            <div class="checkout__grid_left">

                <ul class="modal-details__list">
                    <li class="modal-details__list_item">
                        <div class="modal-details__list_item_img">
                            <img src="../../assets/img/card/card.jpg" alt="">
                        </div>
                        <div class="modal-details__list_item_content">
                            <div class="modal-details__list_item_title">Женский медицинский костюм</div>
                            <div class="modal-details__list_item_subtitle">Обычный, XL</div>
                        </div>
                        <div class="modal-details__list_item_count">
                            <div class="checkout__count_input js-number-picker">
                                <input type="number">
                            </div>
                        </div>
                        <div class="modal-details__list_item_price">750 руб.</div>
                    </li>
                    <li class="modal-details__list_item">
                        <div class="modal-details__list_item_img">
                            <img src="../../assets/img/card/card.jpg" alt="">
                        </div>
                        <div class="modal-details__list_item_content">
                            <div class="modal-details__list_item_title">Женский медицинский костюм</div>
                            <div class="modal-details__list_item_subtitle">Обычный, XL</div>
                        </div>
                        <div class="modal-details__list_item_count">
                            <div class="checkout__count_input js-number-picker">
                                <input type="number">
                            </div>
                        </div>
                        <div class="modal-details__list_item_price">14250 руб.</div>
                    </li>
                </ul>
                <!-- /.modal-details__list -->

                <div class="modal-details__sum">
                    <div class="modal-details__sum_title">Итого:</div>
                    <div class="modal-details__sum_box">
                        <div class="modal-details__sum_count">400 шт.</div>
                        <div class="modal-details__sum_price">15000 руб.</div>
                    </div>
                </div>
                <!-- /.modal-details__sum -->

                <div class="checkout__message">
                    <div class="checkout__label">Комментарий</div>
                    <div class="checkout__message_desc">
                        Если у вас есть, что сообщить нам, пожалуйста, введите текст в это поле
                    </div>
                    <label>
                        <textarea class="form-textarea"></textarea>
                    </label>
                </div>

            </div>
            <!-- /.checkout__grid_left -->

            <div class="checkout__grid_right">

                <form class="form checkout__form">
                    <div class="checkout__label">Данные покупателя</div>
                    <label>
                        <input class="form-input" type="text" placeholder="Ваше имя">
                    </label>
                    <label>
                        <input class="form-input" type="tel" placeholder="Ваш номер телефона">
                    </label>
                    <label>
                        <input class="form-input" type="text" placeholder="Город">
                    </label>
                    <label>
                        <input class="form-input" type="email" placeholder="Ваш email">
                    </label>
                    <label class="check">
                        <input type="checkbox" class="check__input" checked>
                        <span class="check__box"></span>
                        <span class="check__label">Согласен на обработку персональных данных</span>
                    </label>
                    <div class="form-btn">
                        <button class="btn btn-primary">Оформить</button>
                    </div>
                </form>
                <!-- /.form checkout__form -->

            </div>
            <!-- /.checkout__grid_right -->

        </div>
        <!-- /.checkout__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.checkout -->