<div class="one-news">
    <div class="container">

        <div class="one-news__date">29.06.2020</div>

        <div class="h2">Новые коллекции</div>

        <div class="one-news__text">
            В нашем магазине появилось несколько новых коллекций медицинской одежды. У нас появились новые цвета
            медицинских халатов, жакетов, а также новые бренды обуви. В наличии уже имеется одежда различных брендов по
            превликательной цене.
        </div>

        <div class="one-news__subtitle">Подзаголовок новости</div>

        <img src="../../assets/img/one-news/one-news.jpg" alt="">

        <div class="one-news__text">
            Также, у нас появились новые виды аксессуаров, которые вы можете посмотреть и приобрести в нашем катологе. У
            нас вы найдете все - от повседневных топов до элегантных медицинских костюмов в деловом стиле.
        </div>

        <div class="one-news__subtitle">Маркированный список</div>

        <ul class="one-news__list">
            <li class="one-news__list_item">Первый</li>
            <li class="one-news__list_item">Второй</li>
            <li class="one-news__list_item">Третий</li>
        </ul>

        <div class="one-news__subtitle">Пример таблицы</div>

        <div class="one-news__text column-2">
            Также, у нас появились новые виды аксессуаров, которые вы можете посмотреть и приобрести в нашем катологе.
            <br>
            Также, у нас появились новые виды аксессуаров, которые вы можете посмотреть и приобрести в нашем катологе.
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.one-news -->