.slick-prev,
.slick-next {
  position: relative;
  top: 0;
  transform: none;
  outline: none;
  font-size: 0;
  transition: .3s;
  z-index: 2000;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    border-top-color: $white;
    border-right-color: $white;
  }
  &:focus {
    outline: none;
  }
}

.slick-prev {
  left: 0;
  &:before {
    transform: translate(-25%,-50%) rotate(-135deg);
  }
}

.slick-next {
  right: 0;
  &:before {
    transform: translate(-75%,-50%) rotate(45deg);
  }
}

.slick-dots {
  li {
    width: 10px;
    height: 10px;
    margin: 0 6px;
    &.slick-active {
      button {
        background-color: $primary;
      }
    }
    button {
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 50%;
      background-color: $white;
      &:before {
        display: none;
      }
    }
  }
}