$white:                #ffffff !default;
$black:                #000000 !default;
$primary:              #2e3f7f !default;
$primary-light:        rgba(46, 63, 127, 0.3) !default;
$accent:               #b40a1b !default;
$secondary:            #f5f7f7 !default;
$link:                 #2697ff !default;
$text-primary:         #222222 !default;
$text-secondary:       #656565 !default;
$gradient-primary:     linear-gradient(180deg, #0085FF 0%, rgba(52, 57, 130, 0) 100%), #2E3F7F !default;
$gradient-accent:      linear-gradient(227.62deg, #F05E28 -2.4%, #D3543F 35.18%, #B40A1B 97.81%) !default;