<div class="modal modal-sent" id="modal-application-sent">

    <div class="modal-sent__content">
        <div class="modal-sent__content_box">
            <div class="modal-sent__icon">
                <img src="../../assets/img/svg/check.svg" alt="">
            </div>
            <div class="modal-sent__title">
                Спасибо! <br>
                Ваша заявка успешно отправлена!
            </div>
            <div class="modal-sent__btn">
                <button data-fancybox-close class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
    <!-- /.modal-sent__content -->

</div>
<!-- /.modal modal-sent -->