<div class="modal modal-authorization" id="modal-authorization">

    <div class="modal-title">Авторизация</div>

    <div class="modal-subtitle">
        У вас нет аккаунта?
        <a href="#" class="modal-link">Зарегистрируйтесь</a>
    </div>

    <form class="modal-form">
        <div class="form-group">
            <label for="login" class="form-label required">Логин</label>
            <input type="text" class="form-input" id="login" required>
            <div class="form-desc">Укажите логин, email или номер телефона, который вы использовали при регистрации.</div>
        </div>
        <div class="form-group">
            <label for="password" class="form-label required">Пароль</label>
            <input type="password" class="form-input" id="password">
        </div>
        <div class="modal-attempt">
            <label class="check">
                <input type="checkbox" class="check__input">
                <span class="check__box"></span>
                <span class="check__label">Запомнить меня на этом компьютере</span>
            </label>
        </div>
        <div class="form-btn">
            <button class="btn btn-primary">Войти</button>
        </div>
    </form>
    <!-- /.modal-form -->

</div>
<!-- /.modal modal-authorization -->