<div class="modal modal-details" id="modal-details">

    <div class="h2">Данные заказа #2006/2</div>

    <ul class="modal-details__list">
        <li class="modal-details__list_item">
            <div class="modal-details__list_item_img">
                <img src="../../assets/img/card/card.jpg" alt="">
            </div>
            <div class="modal-details__list_item_content">
                <div class="modal-details__list_item_title">Женский медицинский костюм</div>
                <div class="modal-details__list_item_subtitle">Обычный, XL</div>
            </div>
            <div class="modal-details__list_item_count">20 шт.</div>
            <div class="modal-details__list_item_price">750 руб.</div>
        </li>
        <li class="modal-details__list_item">
            <div class="modal-details__list_item_img">
                <img src="../../assets/img/card/card.jpg" alt="">
            </div>
            <div class="modal-details__list_item_content">
                <div class="modal-details__list_item_title">Женский медицинский костюм</div>
                <div class="modal-details__list_item_subtitle">Обычный, XL</div>
            </div>
            <div class="modal-details__list_item_count">200 шт.</div>
            <div class="modal-details__list_item_price">14250 руб.</div>
        </li>
    </ul>
    <!-- /.modal-details__list -->

    <div class="modal-details__sum">
        <div class="modal-details__sum_title">Итого:</div>
        <div class="modal-details__sum_box">
            <div class="modal-details__sum_count">400 шт.</div>
            <div class="modal-details__sum_price">15000 руб.</div>
        </div>
    </div>
    <!-- /.modal-details__list -->

</div>
<!-- /.modal modal-details -->