<div class="modal modal-call" id="modal-call">

    <div class="modal-title">Обратный звонок</div>

    <form class="modal-form">
        <div class="form-group">
            <label for="tel" class="form-label required">Телефон</label>
            <input type="tel" class="form-input" id="tel">
        </div>
        <div class="form-group">
            <label for="first-name" class="form-label">Имя</label>
            <input type="text" class="form-input" id="first-name">
        </div>
        <div class="form-group">
            <label for="comment" class="form-label">Комментарий</label>
            <textarea class="form-textarea" id="comment"></textarea>
        </div>
        <div class="modal-attempt">
            <label class="check">
                <input type="checkbox" class="check__input">
                <span class="check__box"></span>
                <span class="check__label">
                    Согласен на обработку <a href="#" class="modal-link">персональных данных</a>.
                </span>
            </label>
        </div>
        <div class="form-btn">
            <button class="btn btn-primary">Отправить</button>
        </div>
    </form>
    <!-- /.modal-form -->

</div>
<!-- /.modal modal-call -->