<div class="pagination">
    <a href="#" class="pagination__arrow prev">Назад</a>
    <ul class="pagination__list">
        <li class="pagination__list_item">
            <a href="#" class="pagination__list_item_link">1</a>
        </li>
        <li class="pagination__list_item">
            <a href="#" class="pagination__list_item_link active">2</a>
        </li>
        <li class="pagination__list_item">
            <a href="#" class="pagination__list_item_link">3</a>
        </li>
        <li class="pagination__list_item">
            <a href="#" class="pagination__list_item_link">4</a>
        </li>
        <li class="pagination__list_item">
            <div class="pagination__list_item_space">...</div>
        </li>
        <li class="pagination__list_item">
            <a href="#" class="pagination__list_item_link">8</a>
        </li>
    </ul>
    <a href="#" class="pagination__arrow next">Вперёд</a>
</div>
<!-- /.pagination -->