<div class="profile">
    <div class="container">

        <form class="form profile__form">
            <div class="form-group">
                <div class="form-group-item">
                    <label class="form-label" for="login">Login</label>
                </div>
                <div class="form-group-item">
                    <input class="form-input" type="text" id="login" placeholder="placeholder">
                    <div class="form-desc">Например: ivan_petrov</div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-item">
                    <label class="form-label" for="email">Email</label>
                </div>
                <div class="form-group-item">
                    <input class="form-input" type="email" id="email" placeholder="test@gmail.ru">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-item">
                    <label class="form-label" for="tel">Телефон</label>
                </div>
                <div class="form-group-item">
                    <input class="form-input" type="tel" id="tel" placeholder="+7 (923) 323-32-32">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-item">
                    <label class="form-label" for="first-name">Имя</label>
                </div>
                <div class="form-group-item">
                    <input class="form-input" type="text" id="first-name" placeholder="Имя">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-item">
                    <label class="form-label" for="middle-name">Отчество</label>
                </div>
                <div class="form-group-item">
                    <input class="form-input" type="text" id="middle-name" placeholder="Отчество">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-item">
                    <label class="form-label" for="last-name">Фамилия</label>
                </div>
                <div class="form-group-item">
                    <input class="form-input" type="text" id="last-name" placeholder="Фамилия">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-item">
                    <label class="form-label" for="city">Город</label>
                </div>
                <div class="form-group-item">
                    <input class="form-input" type="text" id="city" placeholder="Город">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-item">
                    <label class="form-label" for="address">Адрес</label>
                </div>
                <div class="form-group-item">
                    <textarea class="form-textarea" id="address"></textarea>
                    <div class="form-desc">Укажите подробный адрес для будущих заказов</div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-item">
                    <label class="form-label" for="password">Пароль</label>
                </div>
                <div class="form-group-item">
                    <input class="form-input" type="password" id="password">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-item">
                    <label class="form-label" for="confirm-password"></label>
                </div>
                <div class="form-group-item">
                    <input class="form-input" type="password" id="confirm-password">
                    <div class="form-desc">Повторите пароль</div>
                </div>
            </div>
            <div class="form-btn">
                <button class="btn btn-outline">Сохранить</button>
                <button class="btn btn-outline">Выйти &#8594;</button>
            </div>
        </form>
        <!-- /.profile__form -->

    </div>
    <!-- /.container -->
</div>
<!-- /.profile -->