<div class="instagram">

    <div class="container">

        <div class="instagram__title">
            <div class="h2">Наш инстаграм</div>
            <div class="instagram__desc">
                Подписывайтесь на наш инстаграм:
                <a href="#" class="instagram__link">
                    <img src="../../assets/img/svg/instagram.svg" alt="">
                    <span class="instagram__name">medufiform</span>
                </a>
            </div>
        </div>

        <div class="instagram__grid">
            <a href="#" class="instagram__grid_item">
                <img src="../../assets/img/instagram/instagram.jpg" alt="">
            </a>
            <a href="#" class="instagram__grid_item">
                <img src="../../assets/img/instagram/instagram.jpg" alt="">
            </a>
            <a href="#" class="instagram__grid_item">
                <img src="../../assets/img/instagram/instagram.jpg" alt="">
            </a>
            <a href="#" class="instagram__grid_item">
                <img src="../../assets/img/instagram/instagram.jpg" alt="">
            </a>
            <a href="#" class="instagram__grid_item">
                <img src="../../assets/img/instagram/instagram.jpg" alt="">
            </a>
            <a href="#" class="instagram__grid_item">
                <img src="../../assets/img/instagram/instagram.jpg" alt="">
            </a>
            <a href="#" class="instagram__grid_item">
                <img src="../../assets/img/instagram/instagram.jpg" alt="">
            </a>
            <a href="#" class="instagram__grid_item">
                <img src="../../assets/img/instagram/instagram.jpg" alt="">
            </a>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.instagram -->