.instagram {
  padding: 40px 0;
}

.instagram__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instagram__desc {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
}

.instagram__link {
  display: flex;
  align-items: center;
  margin-left: 8px;
  &:hover {
    .instagram__name {
      &:before {
        width: 100%;
      }
    }
  }
  img {
    width: 24px;
    margin-right: 5px;
  }
}

.instagram__name {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  color: $text-primary;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $text-primary;
    transition: .3s;
  }
}

.instagram__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}

.instagram__grid_item {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  &:hover {
    img {
      transform: translate(-50%,-50%) scale(1.1);
    }
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s;
  }
}



@media (max-width: 1140px) {
  .instagram {
    padding: 30px 0;
  }
  .instagram__title {
    display: block;
  }
  .instagram__desc {
    max-width: 180px;
    display: block;
    margin: 15px auto 0;
    font-size: 16px;
    text-align: center;
  }
  .instagram__link {
    justify-content: center;
    margin-top: 15px;
    img {
      width: 20px;
    }
  }
  .instagram__name {
    font-size: 16px;
  }
  .instagram__grid {
    grid-template-columns: 1fr;
    .slick-dots {
      li {
        &.slick-active {
          button {
            background-color: $primary;
          }
        }
        button {
          background-color: $text-secondary;
        }
      }
    }
  }
  .instagram__grid_item {
    padding-bottom: 70%;
    border-radius: 5px;
    &:hover {
      img {
        transform: translate(-50%,-50%) scale(1);
      }
    }
  }
}