<div class="page-search">
    <div class="container">

        <div class="h2">Страница поиска</div>

        <div class="subtitle">Результаты по запросу “Костюмы”</div>

        <ul class="page-search__list">
            <li class="page-search__list_item">
                <div class="page-search__content">
                    <div class="page-search__title">Женский медицинский <mark>костюм</mark></div>
                    <div class="page-search__text">
                        Классическая посадка Classic, рукав Doiman, верх с V-образным вырезом с боковыми вентиляционными
                        отверстиями, два накладных кармана и карман для мобильного телефона.
                    </div>
                </div>
                <div class="page-search__img">
                    <img src="../../assets/img/card/card.jpg" alt="">
                </div>
            </li>
            <li class="page-search__list_item">
                <div class="page-search__content">
                    <div class="page-search__title">Категория “Костюмы женские”</div>
                    <div class="page-search__text">
                        Классическая посадка Classic, рукав Doiman, верх с V-образным вырезом с боковыми вентиляционными
                        отверстиями, два накладных кармана и <mark>карман</mark> для мобильного телефона.
                    </div>
                </div>
            </li>
            <li class="page-search__list_item">
                <div class="page-search__content">
                    <div class="page-search__title">Женский медицинский <mark>костюм</mark></div>
                    <div class="page-search__text">
                        Классическая посадка Classic, рукав Doiman, верх с V-образным вырезом с боковыми вентиляционными
                        отверстиями, два накладных кармана и карман для мобильного телефона.
                    </div>
                </div>
                <div class="page-search__img">
                    <img src="../../assets/img/card/card.jpg" alt="">
                </div>
            </li>
        </ul>
        <!-- /.page-search__list -->

    </div>
    <!-- /.container -->
</div>
<!-- /.page-search -->